h2.new-ahm-title {
    margin-right: 0; }

.new-ahm-btn {
    width: 100%;
    max-width: 190px;
    line-height: 48px;
    background: #e72233 none repeat scroll 0 0;
    font-family: "Oswald",sans-serif;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #e72233;
    border-radius: 0;
    padding: 6px 0px;
    transition: all 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    display: inline-block;
    cursor: pointer; }

.new-ahm-section {
    padding: 100px 0px; }
.new-ahm-section h1 {
    font-size: 32px; }

.new-ahm-section-dark {
    color: white; }
.new-ahm-section-dark h1, .new-ahm-section-dark h2, .new-ahm-section-dark h3, .new-ahm-section-dark h4, .new-ahm-section-dark h5, .new-ahm-section-dark h6 {
    color: white; }

.new-ahm-section-bg {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }

.new-section-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8; }
.new-section-overlay + .ahm-container,
.new-section-overlay + .new-ahm-container {
    z-index: 1;
    position: relative; }

.new-ahm-container {
    width: 100%;
    max-width: 1140px;
    display: block;
    margin: 0 auto; }
.new-ahm-container .ahm-bar-title {
    padding-left: 20px;
    padding-right: 20px; }
.new-ahm-container .ahm-bar-title::before {
    display: none; }
.new-ahm-container p {
    margin-bottom: 20px;
    font-size: 16px; }

.new-ahm-row {
    margin-left: -20px;
    margin-right: -20px; }
.new-ahm-row::after {
    content: '';
    display: block;
    clear: both; }

.new-ahm-col {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px; }

.new-ahm-img,
.new-ahm-caption {
    float: left;
    padding-left: 20px;
    padding-right: 20px; }

.new-ahm-img {
    width: 400px; }
.new-ahm-img img {
    width: 100%; }

.new-ahm-img-full {
    width: 100%; }
.new-ahm-img-full img {
    width: 100%; }

.new-ahm-img-left {
    float: left; }

.new-ahm-img-right {
    float: right; }

.new-ahm-caption {
    width: -webkit-calc(100% - 400px);
    width: -moz-calc(100% - 400px);
    width: calc(100% - 400px);
    text-align: left; }

.new-ahm-img-detail img {
    width: 100%; }

.new-ahm-caption-detail {
    text-align: left; }
.new-ahm-caption-detail p {
    margin-bottom: 40px; }

.new-ahm-section-one {
    background: #e1e1e1; }

.new-ahm-tire {
    text-align: center; }
.new-ahm-tire h1, .new-ahm-tire h2, .new-ahm-tire h3, .new-ahm-tire h4, .new-ahm-tire h5, .new-ahm-tire h6 {
    text-transform: uppercase; }
.new-ahm-tire h1 {
    font-size: 28px; }
.new-ahm-tire h2 {
    font-size: 28px; }

ul.new-ahm-tire-list strong {
    font-size: 20px; }
ul.new-ahm-tire-list > li {
    margin-bottom: 30px; }

ul.new-ahm-images {
    margin-left: -5px;
    margin-right: -5px; }
ul.new-ahm-images::after {
    content: '';
    display: block;
    clear: both; }
ul.new-ahm-images > li {
    float: left;
    width: 33.3333%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px; }
ul.new-ahm-images > li > a > img {
    width: 100%; }

.new-ahm-apparel h1 {
    text-transform: uppercase;
    color: #d10012;
    font-size: 28px; }

.new-ahm-apparel-menu > ul {
    margin-left: -5px;
    margin-right: -5px;
    display: -webkit-flex;
    display: flex; }
.new-ahm-apparel-menu > ul > li {
    float: none;
    width: auto;
    display: inline;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px; }
.new-ahm-apparel-menu > ul > li > a {
    width: 100%;
    line-height: 38px;
    color: #d10012;
    border: 1px solid #d10012;
    background-color: transparent;
    padding: 0 10px;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.new-ahm-apparel-menu > ul > li > a:hover, .new-ahm-apparel-menu > ul > li > a.active {
    background-color: #d10012;
    color: #fff; }

.new-ahm-apparel-buttons {
    text-align: center; }

ul.new-ahm-image-list {
    margin-left: -20px;
    margin-right: -20px; }
ul.new-ahm-image-list::after {
    content: '';
    display: block;
    clear: both; }
ul.new-ahm-image-list > li {
    float: left;
    width: 33.3333%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px; }
ul.new-ahm-image-list > li > a {
    width: 100%;
    display: block;
    position: relative; }
ul.new-ahm-image-list > li > a img {
    width: 100%; }
ul.new-ahm-image-list > li > a h3 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0; }

ul.new-ahm-image-hover {
    margin-left: -20px;
    margin-right: -20px; }
ul.new-ahm-image-hover::after {
    content: '';
    display: block;
    clear: both; }
ul.new-ahm-image-hover > li {
    float: left;
    width: 33.3333%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px; }
ul.new-ahm-image-hover > li > a {
    width: 100%;
    display: block;
    position: relative; }
ul.new-ahm-image-hover > li > a img {
    width: 100%; }
ul.new-ahm-image-hover > li > a h3 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0; }
ul.new-ahm-image-hover > li > a:hover .new-ahm-acc-list-hover,
ul.new-ahm-image-hover > li > a:hover h3 {
    visibility: visible;
    opacity: 1; }

.new-ahm-acc-list-hover {
    background-color: rgba(250, 0, 0, 0.85);
    mix-blend-mode: multiply;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0; }
.new-ahm-acc-list-hover::after {
    content: '';
    display: block;
    width: 59px;
    height: 59px;
    background: url(../images/link-next.png) no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1; }

.new-content-element {
    padding: 100px 0px;
    text-align: center; }
.new-content-element h1, .new-content-element h2, .new-content-element h3, .new-content-element h4, .new-content-element h5, .new-content-element h6 {
    text-transform: uppercase; }

.new-content-element-light h1, .new-content-element-light h2, .new-content-element-light h3, .new-content-element-light h4, .new-content-element-light h5, .new-content-element-light h6 {
    color: #e0232a; }

.new-content-element-dark {
    color: #fff; }
.new-content-element-dark h1, .new-content-element-dark h2, .new-content-element-dark h3, .new-content-element-dark h4, .new-content-element-dark h5, .new-content-element-dark h6 {
    color: #fff; }

.new-content-element-slider a {
    color: inherit; }
.new-content-element-slider:hover .owl-prev {
    left: -50px; }
.new-content-element-slider:hover .owl-next {
    right: -50px; }

.new-slider-title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px; }

.new-popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: auto;
    z-index: 10000; }

.new-popup-overlay {
    width: 100%;
    height: 9999px;
    background: #000 none repeat scroll 0% 0%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.8; }

.new-popup-content {
    top: 150px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    max-width: 640px;
    width: 100%;
    position: relative;
    padding-bottom: 100px; }

.new-popup-box {
    position: relative;
    width: 100%;
    background-color: #FFF;
    padding: 20px; }

.new-popup-close {
    border: none;
    padding: 0;
    outline: none;
    width: 27px;
    height: 27px;
    display: block;
    background: url(../images/close.png) no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px; }

.new-package-price {
    margin-bottom: 30px; }

.new-ahm-oil-list > li {
    margin-bottom: 20px; }
.new-ahm-oil-list h4 {
    font-size: 20px;
    color: #dd3333;
    font-family: "Oswald";
    margin-bottom: 0px; }

.new-ahm-halfbox {
    float: left;
    width: 50%; }

.new-ahm-leftbox .new-ahm-halfbox {
    float: left; }

.new-ahm-rightbox .new-ahm-halfbox {
    float: right; }

.new-ahm-three-collumn > ul::after {
    content: '';
    display: block;
    clear: both; }
.new-ahm-three-collumn > ul > li {
    float: left;
    width: 33.3333%; }

.new-ahm-table {
    text-align: center;
    font-size: 16px; }
.new-ahm-table table td {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px; }

.new-ahm-section-product {
    background-color: #efefef;
    text-align: center; }

/*# sourceMappingURL=new-ahm.css.map */