/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;margin:0;padding:0;}fieldset,img{display:block; border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3e3e3e;
	overflow-x:hidden;
}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
strong {
	font-weight:700;
}
em {
	font-style:italic;
}
a {
	color:#f14d4d;
	text-decoration:none;
}
.fullBox:after {
	content:'';
	display:block;
	clear:both;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Oswald";
	margin-bottom:20px;
}
h2 {
	color: #e0232a;
	font-size: 40px;
	font-weight: normal;
	line-height: 150%;
}
h3 {
	font-size: 30px;
	font-weight: normal;
	line-height: 150%;
}
h4 {
	color: #000;
	font-size: 21px;
	font-weight: normal;
	line-height: 180%;
}
.wrapper {
	width:100%;
}
.widthBox {
	width:100%;
	max-width:1140px;
	margin:0 auto;
	position:relative;
}
header {
	width:100%;
	font-family: "Oswald";
}
.header_top_menu {
	background:#444 url(../images/header_top_menu_BG.png) repeat-x bottom center;
	border-bottom:2px solid #f14d4d;
}
.mobile-topmenu {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	padding:15px 0;
	cursor:pointer;
	text-align:right;
	display:none;
}
.leftMenu {
	float:left;
}
.leftMenu ul li {
	border-right:1px solid #333;
	float:left;
	transition:all 0.5s ease;
}
.leftMenu ul li:hover {
	background:#333;
	transition:all 0.5s ease;
}
.leftMenu ul li a {
	font-size:12px;
	color:#eee;
	text-transform:uppercase;
	padding:8px 10px;
	display:block;
}
.socialBox {
	padding-top:5px;
	display:block;
	float:right;
}
.socialBox .icon {
	width:25px;
	height:25px;
	border-radius:50%;
	display:inline-block;
	transition:all 0.1s ease-out;
	margin:0 1px;
	overflow:hidden;
}
.socialBox .icon:hover {
	box-shadow:0 0 5px 3px #999;
}
.socialBox .icon img {
	width:100%;
}
.logoWrapper {
	padding:35px 0 30px;
}
.hondaLogo {
	width:auto;
	max-width:320px;
	float:left;
}
.ahmLogo {
	margin-top:10px;
	float:right;
}
.hondaLogo img {
	width:100%;
}
nav {
	width:100%;
	background:#e92030;
	font-family: "Oswald";
	border-bottom:2px solid #af1c26;
	z-index:9999;
}
nav.fixed {
	position:fixed;
	left:0;
	top:0;
}
.mobile-brand {
	display:none;
	position:absolute;
}
.mobile-brand img {
	height:20px;
}
#mobnav-btn {
	background-color:#e92030;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	cursor:pointer;
	font-size:15px;
	line-height:15px;
	padding:15px 10px;
	text-align:right;
	display:none;
}
.leftNav {
	float:left;
}
.rightNav {
	float:right;
}
.leftNav .menu li {
	border-left:1px solid #af1c26;
	display:block;
	float:left;
	position:relative;
}
.leftNav .menu li:first-child a span {
	display:none;
}
.leftNav .menu li:last-child {
	border-right:1px solid #af1c26;
}
.leftNav .menu li:hover {
	background:#a91d28;
}
.leftNav .menu li a {
	height:52px;
	padding:0 12px;
	display:block;
	position:relative;
}
.leftNav .menu li a .imgx {
	height:16px;
	display:inline-block;
	padding-right:8px;
	margin-top:17px;
	margin-bottom:-1px;
	vertical-align: inherit;
}
.leftNav .menu li a span {
	height:52px;
	font-size:14px;
	color:#fff;
	line-height:52px;
	text-transform:uppercase;
	display:inline-block;
	position:relative;
}
.hassubMenu {
	padding-right:13px !important;
}
.hassubMenu span:after {
	font-family: 'FontAwesome';
	font-size:10px;
	content:"\f0dd";
	position:absolute;
	top:-3px;
	right:-15px;
}
.subMenu {
	position:absolute;
	left:-1px;
	top:52px;
	display:none;
	z-index:100;
}
.hassubMenu.open .subMenu {
	display:block;
}
.subMenu li {
	background:#818181;
	border:none !important;
	border-left:1px solid #616161 !important;
	border-bottom:1px solid #616161 !important;
	display:block;
	float:none !important;
}
.subMenu li:hover {
	background:#444 !important;
}
.subMenu li a {
	font-size:14px;
	color:#fff;
	line-height:52px;
	text-transform:uppercase;
	display:inline-block;
	white-space:nowrap;
}
.subMenu li a:after {
	display:none;
}
.search {
	border:1px solid #fff;
	margin-top:9px;
	display:block;
}
.searchInput {
	width:0;
	height:30px;
	background:none;
	color:#fff;
	border:none;
	display:inline-block;
	transition:all .3s ease-out;
}
.fa-search {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	padding:9px;
}
.ahm-breadcrumbBox {
	background: #f1f1f1;
	height: 41px;
	line-height: 41px;
}
.ahm-breadcrumbBox ul {
	max-width: 1140px;
	margin: 0 auto;
}
.ahm-breadcrumbBox ul li {
	font-family: Oswald, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	float: left;
	color: #999;
}
.ahm-breadcrumbBox ul li:after {
	content: '\00bb';
	display: inline-block;
	margin: 0 5px;
}
.ahm-breadcrumbBox ul li a {
	color: #888;
}
.ahm-breadcrumbBox ul li a:hover {
	color: red;
}
.ahm-breadcrumbBox ul li:last-child:after {
	display: none;
}
.mainContent {
	padding:30px 0 0;
}
.mainContent p {
	line-height: 1.4em;
	margin-bottom: 15px;
}
.leftSide {
	width:60%;
	max-width:748px;
	float:left;
}
.siteMap {
	background:#e92030; /*262626*/
	border-top: 5px solid #e92030;
}
.siteMap .panelWrapper {
	padding:30px 0;
}
.siteMap .panelWrapper .sitemapBox {
	width:80%;
	float:left;
}
.siteMap .panelWrapper .customerPanel {
	width:20%;
	float:left;
}
.siteMap .panelWrapper .sitemapBox .panelx {
	width:25%;
	float:left;
}
.siteMap .panelWrapper .sitemapBox .panelx .heading,
.siteMap .panelWrapper .customerPanel .heading {
	display:block;
	margin-bottom:20px;
}
.siteMap .panelWrapper .sitemapBox .panelx .heading h3,
.siteMap .panelWrapper .customerPanel .heading h3 {
	background:url(../images/footer-menu-red.png) no-repeat left bottom 14px;
	width:75%;
	font-family: "Oswald";
	font-size:14px;
	color:#fff;
	padding-left:25px;
	border-bottom:2px solid #fff;
	text-transform:uppercase;
	display:block;
	padding-bottom:10px;
	transition:all 0.5s ease;
}
.siteMap .panelWrapper .sitemapBox .panelx .box,
.siteMap .panelWrapper .customerPanel .box {
	display:block;
	margin-bottom:30px;
}
.siteMap .panelWrapper .sitemapBox .panelx .box:hover .heading h3,
.siteMap .panelWrapper .customerPanel .box:hover .heading h3 {
	width:85%;
	transition:all 0.5s ease;
}
.siteMap .panelWrapper .sitemapBox .panelx .list,
.siteMap .panelWrapper .customerPanel .panelx .list {
	padding-right:20px;
	display:block;
}
.siteMap .panelWrapper .sitemapBox .panelx .list li {
	background:url(../images/sidebar_shadow_BG.png) no-repeat left center;
	width:93%;
	padding:15px 0 15px 15px;
	border-left:1px solid #e55e67;
	border-bottom:1px solid #e55e67;
	display:block;
}
.siteMap .panelWrapper .sitemapBox .panelx .list li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ddd;
	display:block;
}
.siteMap .panelWrapper .customerPanel .box .motto {
	width:100%;
}
.siteMap .panelWrapper .customerPanel .box .motto a img {
	width:100%;
	max-width:300px;
}
.custImage {
	width:100%;
	max-width:300px;
	display:block;
	margin-bottom:10px;
}
.custcareCaption {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ddd;
	line-height:2;
	display:block;
	margin-bottom:30px;
}
footer {
	width:100%;
	background:#222;
	text-align:center;
	padding:15px 0;
	display:block;
}
footer p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999;
}
footer p a {
	color:#ccc;
}
table {
	width:100%;
}
.dealer_table thead {
	background:#e92030;
}
.dealer_table th,
.dealer_table td {
	font-size:13px;
	border:1px solid #fff;
	border-collapse:collapse;
	padding:8px;
}
.dealer_table th:first-child,
.dealer_table td:first-child {
	text-align:center;
}
.dealer_table th {
	color:#fff;
	font-weight:700;
}
.dealer_table tr:nth-child(2n) {
	background:#f9f9f9;
}
h2.pageHeader {
	color: #e0232a;
	font-family: "Oswald";
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.dealerBox {
	width:100%;
	display:block;
	margin-bottom:45px;
}
.dealerPanel {
	width:33.33%;
	float:left;
}
.dealerPanel:not(:last-child) {
	padding-right:20px;
}
.dealerPanel .heading {
	width:100%;
	display:block;
	margin-bottom:20px;
}
.dealerPanel .heading .logo {
	width:25%;
	max-width:68px;
	float:left;
}
.dealerPanel .heading .logo img {
	width:100%;
}
.dealerPanel .heading h4 {
	width:75%;
	font-family: "Oswald";
	font-size:16px;
	line-height:65px;
	text-align:left;
	float:right;
}
.dealerPanel .heading h4.medium {
	font-size:18px;
}
.dealerPanel .content p {
	font-size:14px;
	line-height:1.4;
	display:block;
	margin-bottom:15px;
}
.dealerPanel .content ul li {
	list-style:disc;
	font-size:14px;
	line-height:1.2;
	margin-bottom:10px;
	margin-left:14px;
}
.dealerPanel .content p a {
	color:#f14d4d
}
.dealerWrapper {
	display:block;
	margin-bottom:30px;
}
.searchBy {
	background:#f5f5f5;
	padding:10px 15px;
}
.selectBox {
	display:inline-block;
}
.selectBox select,
.selectBox input {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	color: #555;
	font-size: 14px;
	padding: 6px 12px;
	-moz-appearance: none;
}
.selectBox button {
	cursor:pointer;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	color: #555;
	font-size: 14px;
	padding: 6px 12px;
}
.pageNavi {
	display:block;
	margin-bottom:30px;
}
.pageNavi ul {
	display:inline-block;
}
.pageNavi li {
	display:inline-block;
}
.pageNavi a,
.pageNavi .pages {
	border: 1px solid #ddd;
	color: #777;
	font-size: 13px;
	margin: 2px 2px 2px 0;
	padding: 4px 9px;
	text-decoration: none;
	width: auto;
	display:inline-block;
}
.pageNavi a:hover {
	background-color: #eee;
	color:#666;
}
.pageNavi a.current {
	background-color: #eee;
	border: 1px solid #bbb;
	color: #666;
	font-size: 13px;
	font-weight:bold;
	margin-left: 2px;
	padding: 4px 9px;
	text-decoration: none;
}
.backtopScroll {
	background:url(../images/up_anchor.png) no-repeat center center;
	bottom: 15px;
	display: inline-block;
	height: 48px;
	opacity: 0.6;
	overflow: hidden;
	position: fixed;
	right: -80px;
	transition: all 0.5s ease-in-out 0s;
	width: 48px;
	z-index:1;
}
.backtopScroll:hover {
	opacity:1;
}
.bannerWrapper {
	width:100%;
	display:block;
	margin-bottom:30px;
}
.leftBanner {
	width:608px;
	height:426px;
	margin:0 2px 4px 0;
	float:left;
}
.rightBanner {
	width:528px;
	margin:0 0 4px 2px;
	float:left;
}
.rightBanner .top .owl-carousel {
	height:211px;
	overflow:hidden;
	margin:0 0 4px;
	display:block;
}
.rightBanner .bottom .owl-carousel {
	height:211px;
	overflow:hidden;
	display:block;
}
.rightBanner .owl-carousel .owl-item {
	height:211px;
}
.horizontalBanner {
	width:100%;
}
.bannerPanel {
	background:#eee;
	width: calc((100% - 15px) / 4);
	height:194px;
	margin:0 5px 5px 0;
	float:left;
	overflow:hidden;
	position:relative;
}
.bannerPanel:last-child {
	margin-right:0;
}
/*#bp1 {
	background:url(../../userdata/Banner-Web-cari-aman-lebaran-420x300.jpg) no-repeat center center;
	background-size:cover;
}
#bp2 {
	background:url(../../userdata/andimas-420x300.jpg) no-repeat center center;
	background-size:cover;
}
#bp3 {
	background:url(../../userdata/Banner-HP-Web-Astra-Honda-420x300.jpg) no-repeat center center;
	background-size:cover;
}
#bp4 {
	background:url(../../userdata/AHM_01-300x200.jpg) no-repeat center center;
	background-size:cover;
}*/
.bannerWrapper .overlay {
	width:100%;
	height:100%;
	background:#000;
	display:block;
	opacity:0.5;
	position:absolute;
	top:0;
	left:0;
}
.meta-cat {
	background: red none repeat scroll 0 0;
	color: #fff;
	font-family: "Oswald";
	font-size: 11px;
	font-weight: normal;
	left: 10px;
	padding: 4px 6px;
	position: absolute;
	text-transform: uppercase;
	top: 10px;
	z-index:1;
}
.post-title {
	bottom: 15px;
	color: #fff;
	left: 12px;
	position: absolute;
	width: 70%;
}
.post-title a h3 {
	font-family: "Oswald";
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 8px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	text-transform: none;
}
.bannerPanel .post-title a h3 {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}
.post-title p {
	line-height: 1.4em;
	margin-bottom: 10px;
	text-indent: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.readmore {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
}
.readmore span.circle {
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 5px;
	padding: 2px;
	text-indent: 5px;
}
.datering {
	color: #fff;
	opacity: 0.5;
	position: absolute;
	right: 10px;
	top: 10px;
}
.datering .datena {
	float: left;
	font-size: 33px;
	font-weight: bold;
	margin-right: 5px;
}
.datering .datenb {
	float: right;
	font-size: 14px;
	font-weight: bold;
}
.bannerPanel img {
	width:100%;
}
.inner {
	width:100%;
	display:block;
}
.homeContent {
	width: calc(100% - 360px);
	padding-right:3%;
	display:block;
	float:left;
}
.home_racing {
	width:100%;
	margin-bottom:30px;
	display:block;
}
.homeContent .heading {
	width:100%;
	background:#e72233;
	border-bottom:2px solid #af1c26;
	display:block;
}
.homeContent .heading h2 {
	line-height:normal;
	display:inline-block;
	margin:0;
	padding:8px 15px;
}
.homeContent .heading h2 a {
	font-family: "Oswald";
	font-size:18px;
	color:#fff;
	display:block;
}
.cat_post_count {
	font-family: "Oswald";
	background: #555;
	border-radius: 15px;
	color: #fff;
	display: inline-block;
	float: right;
	font-size: 10px;
	margin: 10px 15px 0 0;
	padding: 5px 10px;
	text-transform: uppercase;
	width: auto;
}
.home_racing .homeInner {
	padding-top:20px;
}
.homeInner .leftBox {
	width:50%;
	padding-right:15px;
	float:left;
}
.homeInner .rightBox {
	width:50%;
	padding-left:15px;
	float:left;
}
.subscribeBox {
	width:100%;
	padding:20px;
	display:block;
	background: url('../images/racing-form-bg.png') no-repeat top center / cover;
	color: #fff;
}
.subscribeBox .content p {
	line-height:1.6;
	text-align:center;
	display:block;
	margin-bottom:20px;
}
.subscribeBox .inputWrapper input {
	display: block;
	font-family: "HelveticaNeue";
	font-size: 12.5px;
	margin: 0 auto 10px;
	padding: 10px;
	width: 100%;
}
.subscribeBox .buttonBox {
	text-align:center;
	display:block;
}
.subscribeBox .buttonBox .defBtn {
	margin-bottom:10px;
}
.subscribeBox .errorMsg {
	font-size:12px;
	color:#e72233;
	font-weight:700;
	text-align:center;
	margin-bottom:10px;
	display:block;
}
.defBtn {
	width:auto;
	height:34px;
	background: #e72233 none repeat scroll 0 0;
	font-family: "Oswald",sans-serif;
	font-size:14px;
	color: #fff;
	text-transform: uppercase;
	line-height:1.4em;
	border: medium none;
	margin: 0 auto;
	padding: 6px 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: all 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	display:inline-block;
	cursor: pointer;
}
.sideBar {
	width:358px;
	float:right;
	padding-left:40px;
	display:block;
}
.articleBox {
	width:100%;
	display:block;
}
.articlePanel {
	width:100%;
	min-height:94px;
	border-bottom:1px solid #eee;
	padding-bottom:10px;
	margin-bottom:10px;
	display:block;
	position:relative;
}
.articlePanel .thumb {
	width:40%;
	height: 94px;
	overflow: hidden;
	display:block;
	position: relative;
	float:left;
}
.articlePanel .thumb .cats_and_formats_box {
	left: 0;
	position: absolute;
	top: 15px;
	z-index: 10;
}
.articlePanel .thumb .cats_and_formats_box a {
	background: #555;
	color: #fff;
	display: inline-block;
	float: left;
	font-family: "Oswald";
	font-size: 12px;
	line-height: 22px;
	margin: 0 8px 0 0;
	padding: 2px 9px 1px;
	text-transform: uppercase;
}
.post_format,
.post_format_video,
.post_format_image,
.post_format_audio {
	display: inline-block;
	float: right;
	height: 25px;
	margin: 0 0 0 -8px;
	position: relative;
	width: 25px;
}
.post_format {
	background:url(../images/post_format_fx.png) no-repeat center center;
}
.articlePanel .thumb img {
	width:100%;
	transition: all 0.5s ease 0s;
}
.articlePanel .thumb:hover img {
	transform: scale(1.1);
}
.racing_info {
	width:60%;
	/*height:94px;*/
	padding-left:30px;
	padding-right:10px;
	float:left;
}
.racing_info h2 {
	font-size:13px;
	line-height:18px;
}
.racing_info h2 a {
	font-family: "Oswald";
	color:#000;
	text-transform:uppercase;
}
.racing_info h2 a:hover {
	color:#f14d4d;
}
.home_video .latest-video {
	background: #333;
	border-bottom: 5px solid #3d3d3d;
}
.fluid-width-video-wrapper {
	padding-top:56.1972%;
	position: relative;
	width: 100%;
}
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.home_video .latest-video-title {
	background: #444;
	border-bottom: 1px solid #999;
	display: block;
	padding: 20px;
}
.home_video .latest-video-title a {
	color: #fff;
	font-family: "Oswald";
	font-size: 20px;
	text-transform: none;
}
.home_video .vid_terms {
	background: #444;
	display: block;
	padding: 10px 7px 15px;
}
.home_video .vid_terms .item {
	display: block;
	float: left;
	min-height: 100px;
	padding: 7px;
	width: 50%;
}
.home_video .vid_terms .item .thumb {
	margin-bottom: 10px;
	max-height: 170px;
	overflow: hidden;
	position: relative;
}
.home_video .vid_terms .cats_and_formats_box {
	display: inline-block;
	left: 0;
	position: absolute;
	top: 12px;
	z-index: 10;
}
.home_video .vid_terms .cats_and_formats_box a {
	background: #555;
	color: #fff;
	display: inline-block;
	float: left;
	font-family: "Oswald";
	font-size: 12px;
	line-height: 22px;
	margin: 0 8px 0 0;
	padding: 2px 9px 1px;
	text-transform: uppercase;
}
.home_video .vid_terms .cats_and_formats_box .post_format_video {
	float: left;
	height: 25px;
	width: 25px;
}
.post_format_video {
	background:url(../images/post_format_video.png) no-repeat center center;
}
.home_video .vid_terms .item .thumb img {
	height: auto;
	transition: all 0.5s ease 0s;
	width: 100%;
}
.home_video .vid_terms .item .title a {
	color: #fff;
	font-family: "Oswald";
	font-size: 14px;
	text-transform: none;
}
.home_video .vid_terms .item .thumb:hover img {
	transform: scale(1.1);
}
.right-widget {
	width:100%;
	color: #333;
	display: inline-block;
	float: left;
	font-size: 13px;
	margin-bottom: 30px;
	transition: all 0.3s ease 0s;
	vertical-align: top;
}
.right-widget img {
	width:100%;
}
.right-heading {
	background-color: #e72233;
	display: block;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.right-heading h3 {
	background:url(../images/sidebar_shadow.png) no-repeat scroll left top;
	font-family: "Oswald";
	color: #fff;
	display: block;
	float: left;
	font-size: 16px;
	line-height: 50px;
	margin: 0;
	padding: 0 0 0 20px;
	text-transform: uppercase;
}
.right-heading span {
	background:url(../images/sidebar_header_arrow.png) no-repeat center center;
	display: block;
	float: right;
	height: 50px;
	margin: 0;
	opacity: 1;
	padding: 0 10px 0 0;
	width: 50px;
}
#comicbtn {
	background: #eee;
	border: 1px solid #ddd;
	color: #e92030;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px;
	text-align: center;
}
#comicbtn:hover {
	background: #e92030;
	border: 1px solid #e92030;
	color: #eee;
}
.banner.profile {
	width:100%;
	height:140px;
	background:url(../../userdata/profile-title-bg.jpg) no-repeat top center;
	background-size:cover;
	display:block;
	overflow:hidden;
}
.banner.profile .captionWrapper {
	width:100%;
	margin:40px auto 0;
}
.banner.profile h2 {
	font-family: "Oswald";
	font-size: 40px;
	font-weight: 700;
	color: #e0232a;
	display:block;
}
.profileWrapper .intro {
	width:100%;
	display:block;
	margin-bottom:20px;
}
.profileWrapper .intro .logo {
	width:50%;
	float:left;
}
.profileWrapper .intro .logo img {
	width:100%;
	max-width:444px;
	margin:120px auto 0;
	display:block;
}
.profileWrapper .intro .caption {
	width:50%;
	padding:0 0 0 20px;
	float:left;
}
.profileWrapper .intro .caption .top {
	display:block;
}
.profileWrapper .intro .caption .top p {
	font-family: "Oswald";
	font-size:16px;
	color:#3e3e3e;
	line-height:1.4em;
	margin-bottom:15px;
}
.profileWrapper .intro .caption .bottom p {
	font-size:14px;
	color:#3e3e3e;
	line-height:1.4em;
	margin-bottom:15px;
}
.icon_with_line {
	width:100%;
	display:block;
	text-align:center;
	position:relative;
	margin-bottom:50px;
}
.icon_with_line:before {
	content:'';
	width:47%;
	height:1px;
	background:#CCC;
	display:inline-block;
	position:absolute;
	left:0;
	top:20px;
}
.icon_with_line:after {
	content:'';
	width:47%;
	height:1px;
	background:#CCC;
	display:inlne-block;
	position:absolute;
	right:0;
	top:20px;
}
.icon_with_line img {
	width:35px;
	margin:0 auto;
	display:block;
}
.address {
	width:100%;
	display:block;
	margin-bottom:50px;
}
.addressData {
	width:50%;
	float:left;
}
.addressData table tr {
	font-size:13px;
}
.addressData table td {
	padding:8px;
}
.addressDetails {
	width:50%;
	padding-left:20px;
	float:left;
}
.addressDetails h4 {
	font-family: "Oswald";
	margin-bottom:20px;
}
.addressDetails .addressPanel {
	width:50%;
	padding-right:30px;
	float:left;
}
.addressDetails .socmed a:hover {
	color:#fb8383;
}
.profileDealers {
	width:100%;
	display:block;
	/*margin-bottom:40px;*/
	margin-bottom:110px;
}
.profileDealers h2 {
	color: #3d3d3d;
	display: block;
	font-family: "Oswald";
	font-weight: 700;
	padding-bottom: 30px;
	text-align: center;
}
.profileDealers .box {
	margin-bottom:40px;
	display:block;
}
.profileDealers .box .panel {
	width: calc((100% - 90px) / 4);
	height: 165px;
	border-bottom: 2px solid #eee;
	padding: 20px 0;
	margin-right:30px;
	display: block;
	float:left;
}
.profileDealers .box .panel:nth-child(4n) {
	margin-right:0;
}
.profileDealers .box .panel h3 {
	color: #3d3d3d;
	display: block;
	font-family: "Oswald",sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.3em;
	margin-bottom: 10px;
	text-align: left;
}
.profileDealers .box .panel p {
	font-size:13px;
}
.maindealer-pagination {
	text-align:center;
}
.maindealer-pagination li {
	margin:0 5px;
	display:inline-block;
}
.maindealer-pagination li a:hover {
	color:#fb8383;
}
.visionMission {
	width:100%;
	background:url(../../userdata/corp-factory.jpg) no-repeat top center;
	background-size:cover;
	padding:70px 0;
	text-align:center;
	display:block;
	overflow:hidden;
}
.visionMission .heading {
	width: 66.6667%;
	display:block;
	margin:0 auto 60px;
}
.visionMission .heading h2 {
	color: #3d3d3d;
	font-family: "Oswald";
	font-weight: 700;
	margin-bottom: 20px;
}
.visionMission .heading .subHeading {
	font-size:12px;
	color: #696969;
}
.visionMission .headline {
	width:100%;
	display:block;
	margin-bottom:80px;
}
.visionMission .headline .left {
	width:50%;
	display:block;
	float:left;
}
.visionMission .headline .right {
	width:50%;
	display:block;
	float:left;
}
.visionMission .headline h4 {
	color: #696969;
	display: block;
	font-family: Arial,sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0 20px 20px;
}
.oneheartLogo {
	width:100%;
	margin:50px auto 70px;
	display:block;
}
.oneheartLogo img {
	width:100%;
	max-width:800px;
	margin:0 auto;
}
.visionMission .content {
	width:100%;
	margin-bottom:50px;
	display:flex;
}
.visionMission .content .column {
	width:25%;
	text-align:justify;
}
.visionMission .content .column:not(:last-child) {
	padding-right:30px;
}
.visionMission .content .column .point {
	width:100%;
	margin-bottom:15px;
	display:block;
}
.visionMission .content .column img {
	width:100%;
	display:block;
	margin-bottom:15px;
}
.visionMission .content .column p {
	font-size:13px;
	line-height:1.4em;
	margin-bottom:15px;
	display:block;
}
.tvcWrapper {
	width:100%;
	display:flex;
}
.tvcPanel {
	width:49%;
}
.tvcPanel:first-child {
	margin-right:2%;
}
.history {
	padding:50px 0 20px;
	display:block;
}
.history .heading {
	width:100%;
	text-align:center;
	display:block;
	margin-bottom:30px;
}
.history .heading h2 {
	color: #3d3d3d;
	font-family: "Oswald";
	font-size:27px;
	font-weight: 700;
	margin-bottom: 20px;
}
.history .heading p {
	font-size:12px;
	color:#696969;
}
.awards {
	width:100%;
	background:#a21923;
	padding:60px 0;
	display:block;
	text-align:center;
}
.awardsPanel {
	margin:0 40px;
	display:inline-block;
}
.career img {
	max-width:100%;
}
.productList {
	width:100%;
}
.productList .banner {
	width:100%;
}
.productList .banner img {
	width:100%;
}
.productBox {
	padding:40px 0;
}
.productBox .sideCategory {
	width:100%;
	max-width:260px;
	margin-right:30px;
	float:left;
}
.productBox .sideCategory ul {
	box-shadow:0 5px 10px -5px #999;
	margin-bottom:30px;
	display:block;
}
.productBox .sideCategory ul li {
	width:100%;
	display:block;
}
.productBox .sideCategory ul li a {
	font-family: "Oswald";
	background:#f9f9f9;
	width:100%;
	font-size:20px;
	color:#fe0021;
	text-transform:capitalize;
	padding:10px 0;
	display:block;
	text-align:center;
	position:relative;
}
.productBox .sideCategory ul li.active a {
	background:#e92030;
	color:#fff;
}
.productBox .sideCategory ul li.black-bg a {
	background:#000;
	color:#fff;
}
.productBox .sideCategory ul li.black-bg a:before{
	background: #000;
}
.productBox .sideCategory ul li a:before {
	content:'';
	background:#eaeaea;
	width:95%;
	height:1px;
	display:block;
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
}
.productBox .sideCategory ul li.active a:before {
	display:none;
}
.compareBtn,
.bigbikeBtn {
	margin-bottom:20px;
}
.compareBtn .defBtn,
.pricelistBtn .defBtn {
	font-size:15px;
	text-align:center;
	border-radius:0;
	display:block;
	text-transform:capitalize;
}
.bigbikeBtn .defBtn {
	background:#000;
	font-size:15px;
	color:#fff;
	text-align:center;
	border-radius:0;
	display:block;
	text-transform:none;
}
.productBox .mainCategory {
	width:calc(100% - 290px);
	float:left;
}
.categoryBox {
	display:block;
	margin-bottom:10px;
}
.categoryBox .header {
	width:100%;
	margin-bottom:20px;
	display:block;
}
.categoryBox .header h3 {
	width:100%;
	color:#e21823;
	text-align:center;
	text-transform:uppercase;
	position:relative;
}
.categoryBox .header h3:before {
	content:'';
	background:#e21823;
	width:43%;
	height:1px;
	display:block;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}
.categoryBox .header h3:after {
	content:'';
	background:#e21823;
	width:43%;
	height:1px;
	display:block;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}
.panelWrapper {
	display:flex;
	flex-wrap:wrap;
}
.panelWrapper .productPanel {
	width:calc((100% - 20px) / 3);
	margin-bottom:20px;
	display:block;
	/*float:left;*/
	position:relative;
}
.panelWrapper .productPanel:not(:nth-child(3n)) {
	margin-right:10px;
}
.panelWrapper .productPanel .flag {
	position:absolute;
	top:15px;
	left:20px;
	z-index:1;
}
.panelWrapper .productPanel .flag span {
	font-family: "Oswald";
	font-size:15px;
	color:#ff0000;
	text-transform:uppercase;
}
.panelWrapper .productPanel .image {
	background:#f9f9f9;
	padding-bottom:100%;
	position:relative;
	overflow:hidden;
}
.panelWrapper .productPanel .image a {
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	top:0;
	left:0;
}
.panelWrapper .productPanel .image a img {
	max-width:100%;
	max-height:100%;
	position:absolute;
	left:50%;
	top:50%;
	transform:translateX(-50%)translateY(-50%);
	-webkit-transform:translateX(-50%)translateY(-50%);
	-ms-transform:translateX(-50%)translateY(-50%);
}
.panelWrapper .productPanel .name {
	height:70px;
	background:#e92030;
	align-items:center;
	justify-content:center;
	display:flex;
	-webkit-flex: 1; /* Safari 6.1+ */
	-ms-flex: 1; /* IE 10 */
	flex: 1;
}
.panelWrapper .productPanel .name a {
	text-align:center;
}
.panelWrapper .productPanel .name a span {
	font-size:16px;
	color:#fff;
}
.panelWrapper .productPanel .price {
	padding:20px 0;
	text-align:center;
}
.panelWrapper .productPanel .price span {
	font-size:16px;
	font-style:italic;
	color:#fe0021;
}
.productRecommend {
	padding:40px 0;
	text-align:center;
}
.productRecommend .buttonArea .defBtn {
	display:block;
	text-transform: none !important;
	height: auto;
	padding:15px 50px;
	margin:0 5px;
	font-size:20px;
}
.productRecommend .owl-item .buttonArea .defBtn {
	max-width:220px;
	margin:0 auto;
	background:none;
	color:#000;
	border:1px solid #000;
	font-size:14px;
}
.productWrapper .socmed {
	background:#d1d1d1;
	padding:20px 0;
	text-align:center;
}
.productWrapper .socmed span {
	margin-bottom:10px;
	display:block;
}
.productWrapper .socmed ul li {
	width:40px;
	display:inline-block;
	margin:0 8px;
}
.productWrapper .socmed ul li a {
	width:100%;
}
.productWrapper .socmed ul li a img {
	width:100%;
}
.geoBox {
	width:100%;
	max-width:1140px;
	display:block;
	margin:0 auto;
	padding:30px 0;
	text-align:center;
}
.geoBox h3 {
	margin-bottom:30px !important;
	display:block;
}
.geoBox .productImage {
	width:100%;
	max-width:800px;
	display:block;
	margin:0 auto;
	position:relative;
}
.geoBox .productImage img {
	width:100%;
}
.poiList {
	width:100%;
	height:100%;
}
.poiPoint {
	width:100%;
	position:absolute;
}
.toolTip {
	width:24px;
	height:24px;
	background:rgba(0, 0, 0, 0.8);
	border-radius:100%;
	border:none;
	margin-top:-12px;
	margin-left:-12px;
	-webkit-animation:pulse-white 2s ease-out infinite;
	-moz-animation:pulse-white 2s ease-out infinite;
	animation:pulse-white 2s ease-out infinite;
	-moz-transition:all .2s ease-out 0;
	-o-transition:all .2s ease-out 0;
	-webkit-transition:all .2s ease-out;
	-webkit-transition-delay:0;
	transition:all .2s ease-out 0;
}
.toolTip span {
	width:8px;
	height:8px;
	background:#fff;
	border-radius:100%;
	display:block;
	margin:-4px 0 0 -4px;
	position:absolute;
	left:50%;
	top:50%;
}
.partFeature {
	width:95%;
	max-width:400px;
	background:#fff;
	border-radius:5px;
	padding:10px;
	text-align:center;
	box-shadow:0 0 10px -5px #999;
	position:absolute;
	left:0;
	bottom:38px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	z-index:1;
	display:none;
	-moz-transition:all .2s ease-out 0;
	-o-transition:all .2s ease-out 0;
	-webkit-transition:all .2s ease-out;
	transition:all .2s ease-out 0;
}
.partFeature:after {
	content:'';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	display:block;
	position:absolute;
	bottom:-10px;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
}
.partFeature .closeWrapper {
	width:100%;
	display:none;
	text-align:right;
}
.partFeature .closeWrapper .closeBtn {
	width:20px;
	height:20px;
	font-size:10px;
	font-weight:700;
	color:#fe0021;
	border:1px solid #fe0021;
	border-radius:20px;
	padding:2px;
	display:inline-block;
	text-align:center;
	box-shadow:2px 2px 5px -2px #333;
}
.partFeature .image {
	width:50%;
	display:block;
	margin:0 auto 10px;
}
.partFeature .image img {
	width:100%;
}
.partFeature .desc p {
	font-size:14px;
	line-height:1.4;
	margin-bottom:0;
}
.testBanner {
	background:#e0e0e0;
	padding:100px 0;
	text-align:center;
}
.testBanner p {
	background:#fe0021;
	font-size:38px;
	color:#fff;
	padding:30px 70px;
	border-radius:55px;
	border:1px solid #fff;
	margin:0 auto;
	display:inline-block;
	text-transform:uppercase;
}
.testBanner p span {
	font-weight:700;
}
.bikeTest {
	width:100%;
	margin-bottom:30px;
	display:block;
}
.bikeTest .note {
	font-size:10px;
}
.bikeTest .note span {
	color:#fe1432;
}
.compareWrapper {
	width:100%;
	display:block;
}
.compareWrapper table {
	margin-bottom:20px;
}
.compareWrapper table tr {
}
.compareWrapper table tr th {
	width:33%;
	font-size:20px;
	color:#e21823;
	padding:5px;
	text-transform:capitalize;
	border-bottom:2px solid #e21823;
}
.compareWrapper table tr td {
	width:33%;
	line-height:1.4;
	vertical-align:top;
	padding:10px 5px;
}
.compareWrapper table tr td:first-child {
	text-transform:capitalize;
}
.compareWrapper table tr td:not(:first-child) {
	border-bottom: 1px solid #CCC;
}
.compareWrapper table.noBorder tr td {
	border:none;
}
.compareWrapper table tr td img {
	width:100%;
	display:block;
}
.productWrapper .videoBox {
	width:95%;
	max-width:1140px;
	display:block;
	margin:0 auto;
	padding:60px 0;
	text-align:center;
}
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-right .ahm-infoBox .ahm-info {
	background:#fff;
	z-index:1;
}

/*------------------------keyframe-------------------------*/
@keyframes pulse-white {
	0% {
		box-shadow: 0 0 rgb(255, 255, 255);
		transform: scale(1);
	}
	50% {
		box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
		transform: scale(1.1);
	}
	100% {
		box-shadow: 0 0 rgba(255, 255, 255, 0);
		transform: scale(1);
	}
}
@keyframes pulse-white {
	0% {
		box-shadow: 0 0 rgb(255, 215, 0);
		transform: scale(1);
	}
	50% {
		box-shadow: 0 0 0 8px rgba(255, 215, 0, 0);
		transform: scale(1.1);
	}
	100% {
		box-shadow: 0 0 rgba(255, 215, 0, 0);
		transform: scale(1);
	}
}
@keyframes pulse-white {
	0% {
		box-shadow: 0 0 rgb(255, 255, 255);
		transform: scale(1);
	}
	50% {
		box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
		transform: scale(1.1);
	}
	100% {
		box-shadow: 0 0 rgba(255, 255, 255, 0);
		transform: scale(1);
	}
}

/*-------------------------tabs-------------------------*/

.specBox {
	background:#ededed;
}
.specWrapper {
	width:95%;
	max-width:1024px;
	margin:0 auto;
	padding:100px 0;
	display:block;
}
.specWrapper h3 {
	text-align:center;
	margin-bottom:30px;
	display:block;
}
.specWrapper table tr {
	background:none !important;
	vertical-align:top;
}
.specWrapper table tr td {
	line-height:1.8;
	border:none;
	padding:0;
}
.specWrapper table tr td:first-child {
	width:40%;
	font-weight:700;
	padding-right:20px;
	text-transform:capitalize;
}
.specWrapper table tr td:nth-child(2) {
	width:60%;
}
.specTabs ul li {
	list-style:none !important;
	margin-left:0 !important;
	line-height:normal !important;
}
.specTabs .ui-helper-clearfix::before, .ui-helper-clearfix::after {
	border-collapse: collapse;
	content: "";
	display: table;
}
.specTabs .ui-helper-clearfix:after {
	clear: both;
}
.specTabs .ui-tabs-nav {
	width:100%;
	margin:0;
	display:flex;
}
.specTabs .ui-tab {
	width:100%;
	display:flex;
}
.specTabs .ui-tab:not(:last-child) {
	margin-right:5px;
}
.specTabs .ui-tabs-anchor {
	width:100%;
	font-family: "Oswald";
	font-size:16px;
	color:#e92030;
	background:#fff;
	padding:15px;
	text-align:center;
	display:block;
	text-transform:uppercase;
}
.specTabs .ui-tabs-active .ui-tabs-anchor {
	background:#bd021b;
	color:#fff;
}
.specTabs .ui-tabs-panel {
	background:#bd021b;
	color:#fff;
	padding:50px 150px;
}
.specTabs.black .ui-tabs-anchor {
	background:#bfbfbf;
	color:#000;
}
.specTabs.black .ui-tabs-active .ui-tabs-anchor {
	background:#000;
	color:#e92030;
}
.specTabs.black .ui-tabs-panel {
	background:#000;
}
*:focus {
	outline:none
}

/*-----------------------------select2---------------------------------*/

.select2-container {
	width:100% !important;
	margin-bottom:10px;
}
.select2-container--default .select2-selection--single {
	height:auto;
	border:2px solid #fe1432;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder, .select2-container--default .select2-selection--single .select2-selection__rendered {
	font-size:14px;
	color:#fe1432;
	padding:5px 10px;
	text-align:center;
}
.categoryDDown {
	background:#e92030 !important;
	padding:5px 10px;
	border:none !important;
	border-radius:0 !important;
	text-transform:uppercase;
	display:none !important;
}
.categoryDDown .select2-selection__rendered {
	font-family: "Oswald";
	font-size:16px !important;
	color:#fff !important;
}
.categoryDDown .select2-selection__arrow b {
	background:url(../images/icon_select_category.png) no-repeat center center !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	width:22px;
	height:9px;
	top:45%;
	right:20px;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	width:22px;
	height:9px;
	background:url(../images/icon_select_testdrive.png) no-repeat center center;
	background-size:contain;
	border: none;
}
.select2-container--default .select2-results > .select2-results__options {
	max-height:none;
}
.select2-results {
	box-shadow:0 0 10px -5px #999;
}
.select2-results__option {
	font-family: "Oswald";
	font-size:16px;
	text-align:center;
	padding:16px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background:#e92030;
}
.select2-results__group {
	color:#666;
	position:relative;
}
.select2-results__group:before {
	content:'';
	background:#666;
	width:37%;
	height:1px;
	display:block;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}
.select2-results__group:after {
	content:'';
	background:#666;
	width:37%;
	height:1px;
	display:block;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}
.select2-dropdown {
	border:none;
}

/*--------------------------instashow------------------------------*/

#instaShowGallery_1 {
	margin-top:30px;
}
#instaShowGallery_1 .instashow-gallery-media-cover {
	background:rgba(190, 13, 13, 0.97) !important;
}
#instaShowGallery_1 .instashow-gallery-control-arrow::before, #instaShowGallery_1 .instashow-gallery-control-arrow::after {
	background: rgb(255, 38, 38) !important;
}
#instaShowPopup_1 .instashow-popup-twilight {
	background: rgba(221, 26, 26, 0.9) !important;
}

/*----------------------------owlcarousel------------------------------*/

.owl-carousel {
	width:100%;
}
.owl-carousel.desktop {
	display:block !important;
}
.owl-item {
	overflow:hidden;
}
.owl-nav {
	width:100%;
	position:absolute;
	top:40%;
	left:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}
.bannerWrapper .owl-carousel .owl-dots {
	position:absolute;
	bottom:5px;
	right:12px;
}
.number .owl-dots {
	position:absolute;
	bottom:-55px;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
}
.productWrapper .owl-carousel .owl-dots {
	width:100%;
	position:absolute;
	bottom:-32px;
	text-align:center;
}
.bannerWrapper .owl-carousel .owl-dots .owl-dot {
	display:inline-block;
}
.number .owl-dots .owl-dot {
	color:#f14d4d;
	margin:0 5px;
	display:inline-block;
}
.productWrapper .owl-carousel .owl-dots .owl-dot {
	display:inline-block;
}
.number .owl-dots .owl-dot:hover {
	color:#fb8383;
}
.bannerWrapper .owl-carousel .owl-dots .owl-dot span {
	background:#fff;
	width:10px;
	height:10px;
	border:1px solid #000;
	border-radius:20px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	margin:5px 2px;
	display:block;
	opacity:1;
}
.bannerWrapper .owl-carousel .owl-dots .owl-dot.active span,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
	background:#e92030;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background:#fff;
	width:10px;
	height:10px;
	border:1px solid #000;
	border-radius:20px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	margin:5px 2px;
	display:block;
	opacity:1;
}
.owl-prev,
.owl-next {
	font-size:34px;
	color:#CCC;
	display:inline-block;
}
.owl-prev:hover,
.owl-next:hover {
	color:#999;
}
.owl-prev {
	position:absolute;
	left:-50px;
	transition:all 0.3s ease-in-out;
}
.owl-next {
	position:absolute;
	right:-50px;
	transition:all 0.3s ease-in-out;
}
/*.owl-carousel:hover .owl-prev {
	left:20px;
}
.owl-carousel:hover .owl-next {
	right:20px;
}*/
.owl-carousel .owl-prev {
	left:20px;
}
.owl-carousel .owl-next {
	right:20px;
}
.bx-wrapper .bx-controls-direction a {
	text-indent:inherit;
}
.bx-wrapper .bx-prev:before {
	content: "\f104";
	font-family: 'FontAwesome';
	font-size:30px;
	color:#C3C3C3;
	display:block;
}
.bx-wrapper .bx-next:before {
	content: "\f105";
	font-family: 'FontAwesome';
	font-size:30px;
	color:#C3C3C3;
	display:block;
}
.bx-wrapper .bx-prev {
	left:-40px;
}
.bx-wrapper .bx-next {
	right:-40px;
}
.bx-wrapper:hover .bx-prev {
	left:20px;
}
.bx-wrapper:hover .bx-next {
	right:20px;
}
/*.fa-angle-left:before {
    content: "\f104";
	display:block;
}
.fa-angle-right:before {
    content: "\f105";
	display:block;
}*/
.productRec{
	display:block !important;
	text-align:center;
}
.productRec:after{
	content:'';
	display:block;
	clear:both;
}
.productRecBox{
	width:calc(33.3333% - 20px);
	display:inline-block;
}
.productRecBox .buttonArea .defBtn{
	max-width: 220px;
	margin: 0 auto;
	background: none;
	color: #000;
	border: 1px solid #000;
	font-size: 14px;
}
.productRecBox img{
	width:80% !important;
	margin:0 auto !important;
}
.productRec .owl-nav {
	display:inline-block !important;
}
.productRec .owl-prev,
.productRec:hover .owl-prev {
	left:10px;
}
.productRec .owl-next,
.productRec:hover .owl-next {
	right:10px;
}
.productRec .owl-prev img,
.productRec .owl-next img {
	width:41px;
	height:41px;
	display:block;
}

.productWrapper .owl-carousel.desktop {
	display:block;
}
.productWrapper .owl-carousel.mobile {
	display:none;
}

/*.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display:block;
}*/

/*lightbox*/
.lightboxArea {
	text-align:center;
}
.lightboxLink {
	width:calc((100% - 38px) / 3);
	background:#666;
	border-radius:4px;
	margin:0 5px 10px;
	display:inline-block;
	position:relative;
}
.lightboxThumb {
	border-radius:4px;
	margin:0 !important;
	/*position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%)translateY(-50%);
	-webkit-transform:translateX(-50%)translateY(-50%);
	-ms-transform:translateX(-50%)translateY(-50%);*/
}

.lb-data .lb-caption {
	font-size: 14px;
	font-weight:normal;
	line-height: 1em;
	color:#fff;
	margin:10px 0;
}
.lb-data .lb-number {
	font-size: 10px;
}

/*iframe*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*genuine part*/
.halfBox {
	width: 50%;
	float: left;
	padding: 0 15px;
}
.thirdBox {
	width: 33%;
	float: left;
	padding: 0 15px;
}
.fourthBox {
	width: 25%;
	float: left;
	padding: 0 15px;
}

/*content element area*/
.contentElement {
	width:100%;
	display:block;
}
.contentElement h1,
.contentElement h2,
.contentElement h3,
.contentElement h4,
.contentElement h5,
.contentElement h6,
.contentElement span,
.contentElement p {
	margin-bottom:10px;
	display:block;
}
.contentElement h1,
.contentElement h2,
.contentElement h3,
.contentElement h4,
.contentElement h5,
.contentElement h6 {
	font-weight:700;
}
.contentElement h1 {
	width:100%;
	background-color:#e72233;
	border-bottom:8px solid #af1c26;
	padding:10px 20px;
	font-size:32px;
	font-weight: 700;
	color:#fff;
	margin:0 auto 20px;
	display:block;
}
.contentElement h2 {
	width: 100%;
	font-size:32px;
	font-weight: 700;
	color: #e72233;
	margin-bottom: 0 auto 20px;
	display: block;
}
.contentElement h3 {
	font-size:30px;
	color:#444;
}
.contentElement h4 {
	font-size:26px;
	color:#444;
}
.contentElement h5 {
	font-size:20px;
	color:#444;
}
.contentElement h6 {
	font-size:20px;
	color:#444;
}
.contentElement span {
	font-size:16px;
}
.contentElement p {
	font-size:16px;
	font-weight:400;
	line-height:1.6;
	margin-bottom:15px;
}
.contentElement a {
	color:#444;
}
.contentElement em {
	font-style:italic;
}
.contentElement strong {
	font-weight:700;
}
.content Element ol {
	margin-left: 30px;
}
.contentElement ul,
.contentElement ol {
	margin-bottom: 15px;
	font-size:16px;
}
.contentElement li {
	font-family: inherit;
	line-height:20px;
}
.contentElement ol li {
	list-style:decimal;
	margin:5px 0 0 15px;
	line-height:1.6;
}
.contentElement ul li {
	list-style:disc;
	margin-left:20px;
	line-height:1.6;
}
.contentElement img {
	margin-bottom:12px;
	width:100%;
	height:auto;
}
.contentElement .wrapLeft {
	width:50%;
	height:auto;
	float:left;
	margin:0 12px 0 0;
}
.contentElement .wrapRight {
	width:50%;
	height:auto;
	float:right;
	margin:0 0 0 12px;
}
.contentElement .wrapLeft img,
.contentElement .wrapRight img{
	width:95%;
}
.contentElement .wrapRight img{
	float:right;
}
.contentElement .imageSlideshow li {
	margin:0;
}
.contentElement .imageSlideshow.mobile {
	display:none;
}
.contentElement .imageSlideshow img {
	margin:0;
}
.contentElement .buttonArea {
	text-align:center;
}
.contentElement .buttonArea.padded {
	padding:40px 0 0;
}
.contentElement .buttonArea.left {
	text-align:left;
}
.contentElement .buttonArea.right {
	text-align:right;
}
.contentElement .buttonArea li {
	list-style:none;
	display:inline-block;
	margin:0;
}
.contentElement .defBtn {
	background: #e72233 none repeat scroll 0 0;
	font-family: "Oswald",sans-serif;
	font-size:20px;
	color: #fff;
	text-transform: uppercase;
	line-height:1.4em;
	border: 1px solid #e72233;
	border-radius:0;
	margin: 0 auto;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: all 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	display:inline-block;
	cursor: pointer;
	text-transform: none !important;
	height: auto;
	padding:15px 50px;
	margin:0 5px;
}
.contentElement .defBtn:hover {
	background:none;
	color:#000;
	border:1px solid #000;
}
.contentElement table caption {
	background:#f5f5f5;
	font-weight:700;
	font-size:26px;
	color:#444;
	padding:10px 20px;
}
.contentElement table td {
	border:1px solid #fff;
	border-collapse:collapse;
	padding:10px;
}
.contentElement tr:nth-child(2n) {
	background:#f9f9f9;
}
.contentElement.quote .quoteBox {
	background:#f1f1f1;
	padding:1em;
	margin-bottom:20px;
}
.contentElement.quote .quoteBox p {
	font-size:14px;
	line-height:1.4;
	margin-bottom:0;
}
.contentElement.image + .quote {
	position:relative;
	top:-12px;
}
.contentElement .prevNext {
	width:100%;
	margin-bottom:20px;
	display:block;
}
.contentElement .prevNext a {
	background:#333;
	height:190px;
	width:calc((100% - 20px)/2);
	display:inline-block;
	position:relative;
}
.contentElement .prevNext a:first-child {
	float:left;
}
.contentElement .prevNext a:last-child {
	margin-left:20px;
	float:right;
}
.contentElement .prevNext a img {
	width:100%;
	display:block;
	margin:0;
}
.contentElement .prevNext a .prevnextTitle {
	background:rgba(0, 0, 0, 0.2);
	width:90%;
	padding:10px;
	border:1px solid #fff;
	position:absolute;
	left:50%;
	top:50%;
	transform:translateX(-50%)translateY(-50%);
	-webkit-transform:translateX(-50%)translateY(-50%);
	-ms-transform:translateX(-50%)translateY(-50%);
}
.contentElement .prevNext a:first-child .prevnextTitle {
	text-align:right;
}
.contentElement .prevNext a:last-child .prevnextTitle {
	text-align:left
}
.contentElement .prevNext a .prevnextTitle span {
	font-family: "Oswald";
	font-size:10px;
	color:#fff;
	text-transform:uppercase;
	margin-bottom:5px;
}
.contentElement .prevNext a .prevnextTitle h4 {
	font-family: "Oswald";
	font-size:12px;
	font-weight:normal;
	color:#fff;
	line-height:1.4;
	text-transform:uppercase;
}

.productWrapper .contentElement {
	background-size:cover;
	margin:0;
}
.productWrapper .contentElement img {
	margin:0;
}
.productWrapper .contentElement .itemSlider {
	width:100%;
	background-repeat:no-repeat;
	background-position:center center;
	padding:40px 0;
	text-align:center;
	overflow:hidden;
}
.bx-wrapper {
	background:none;
	border:none;
	box-shadow:none;
}
.productWrapper .contentElement .featureSlider div img {
	width:auto;
	max-width:800px;
	margin:0 auto;
}
.productWrapper .contentElement .productFeature {
	padding:40px 0;
	text-align:center;
}
.contentFeature {
	display:flex;
}
.contentFeature .imageContainer {
	display:block;
	float:left;
}
.contentFeature .imageContainer img {
	width:100%;
}
.contentFeature.border .imageContainer:not(:last-child),
.contentFeature.border .imageContainer:not(:last-child) {
	margin-right:5px;
}
.productRec .owl-item {
	vertical-align:bottom;
}
.productRec .owl-item div {
	width:98%;
	margin:0 auto;
}
.productRec .owl-item div .productContent img {
	width:80%;
	margin:0 auto;
	display:block;
}

/*end of content element area*/

@media only screen and (max-width:1240px) {
	.widthBox {
		max-width:978px;
		padding:0 20px;
	}
	.productBox {
		padding:40px 20px;
	}
	.ahm-breadcrumbBox ul {
		max-width:978px;
		padding:0 20px;
	}
	.leftBanner {
		width:100%;
		height:auto;
		margin:0 auto 4px;
		float:none;
	}
	.rightBanner {
		width:100%;
		margin:0 auto 4px;
		float:none;
	}
	.rightBanner .top,
	.rightBanner .bottom {
		width: calc((100% - 4px) / 2);
		float:left;
	}
	.rightBanner .top {
		margin:0 2px 0 0;
	}
	.rightBanner .bottom {
		margin:0 0 0 2px;
	}
	.rightBanner .owl-carousel {
		margin:0 !important;
	}
	.panelWrapper .productPanel .name a span {
		font-size:14px;
	}
	.dealerPanel .heading h4 {
		padding-left:10px;
	}
}

@media only screen and (max-width:990px) {
	.homeInner .leftBox {
		width:100%;
		padding:0;
		float:none;
	}
	.homeInner .rightBox {
		width:100%;
		padding:0;
		float:none;
	}
	.subscribeBox {
		margin-bottom:40px;
	}
	.articlePanel .thumb img {
		width:87%;
	}
	.specTabs .ui-tabs-panel {
		padding:50px 10%;
	}
	.specWrapper {
		padding:50px 0;
	}
	.specTabs .ui-tabs-anchor {
		padding:15px 5px;
	}
}

@media only screen and (max-width:800px) {
	.productWrapper .contentElement .featureSlider div img {
		width:80%;
	}
}

@media only screen and (max-width:768px) {
	.leftNav .menu li:first-child a span {
		display:inline-block;
	}
	.widthBox {
		padding:0 10px;
	}
	.mobile-topmenu {
		display:block;
	}
	.mobile-brand {
		display:block;
		left:12px;
		top:15px;
	}
	#mobnav-btn {
		display:block;
	}
	.leftMenu {
		width:100%;
		display:none;
		float:none;
	}
	.leftMenu.open {
		display:block;
	}
	.leftMenu ul li {
		border-right:none;
		display:block;
		float:none;
	}
	.leftMenu ul li a {
		border-top:1px solid #555;
		text-align:center;
	}
	.socialBox {
		display:none;
	}
	.hondaLogo {
		width:100%;
		max-width:300px;
		text-align:center;
		margin:0 auto;
		float:none;
	}
	.ahmLogo {
		display:none;
	}
	nav .widthBox {
		padding:0;
	}
	nav.fixed {
		position:static;
	}
	.leftNav {
		width:100%;
		border-top:1px solid #af1c26;
		display:none;
		float:none;
	}
	.leftNav .menu li {
		float:none;
		border-left:none;
		border-bottom:1px solid #af1c26;
	}
	.rightNav {
		width:100%;
		padding:10px;
		display:none;
		float:none;
	}
	.leftNav.open,
	.rightNav.open {
		display:block;
	}
	.hassubMenu {
		padding-right:0 !important;
	}
	.hassubMenu.open a {
		background:#515151;
	}
	.hassubMenu.open .subMenu a {
		background:#818181;
	}
	.hassubMenu.open .subMenu li:hover a {
		background:#515151;
	}
	.hassubMenu a:after {
		right:12px;
	}
	.subMenu {
		width:100%;
		position:static;
	}
	.search {
		margin:0;
	}
	.fa-search {
		float:right;
	}
	.bannerPanel {
		width:calc((100% - 5px) / 2);
	}
	#bp2 {
		margin-right:0;
	}
	.homeContent {
		width:100%;
		padding:0;
		float:none;
		margin:0 auto 20px;
	}
	.sideBar {
		width:100%;
		padding:0;
		float:none;
	}
	.articlePanel .thumb {
		width:33%;
	}
	.leftSide {
		width:100%;
		float:none;
	}
	.contentElement .wrapLeft,
	.contentElement .wrapRight {
		width:100% !important;
		margin:0 auto 20px;
	}
	.contentElement .wrapLeft img,
	.contentElement .wrapRight img {
		width:100%;
	}
	.dealerPanel {
		width:100%;
		float:none;
		padding:0;
		margin-bottom:40px;
		display:block;
	}
	.dealerPanel .heading .logo {
		width:50%;
		max-width:100px;
		float:none;
		margin:0 0 20px;
	}
	.dealerPanel .heading h4 {
		line-height:normal;
		padding:0;
		float:none;
	}
	.profileWrapper .intro .logo {
		width:100%;
		float:none;
		margin:0 auto 30px;
	}
	.profileWrapper .intro .caption {
		width:100%;
		padding:0;
		float:none;
		margin:0 auto 30px;
	}
	.tableWrapper {
		width:100%;
		overflow-x:scroll;
	}
	.dealer_table {
		width:1000px;
	}
	.addressData {
		width:100%;
		float:none;
		margin:0 auto 30px;
	}
	.addressDetails {
		width:100%;
		float:none;
		padding:0;
	}
	.addressDetails .addressPanel {
		width:100%;
		float:none;
		padding:0;
	}
	.profileDealers .box .panel {
		width:calc((100% - 30px) / 2);
	}
	.profileDealers .box .panel:nth-child(4n) {
		margin-right:30px;
	}
	.profileDealers .box .panel:nth-child(2n) {
		margin-right:0;
	}
	.visionMission .heading {
		width:90%;
	}
	.visionMission .headline .left,
	.visionMission .headline .right {
		width:100%;
		float:none;
	}
	.visionMission .content {
		display:block;
	}
	.visionMission .content .column {
		width:100%;
		padding:0 !important;
		float:none;
		margin:0 auto 60px;
	}
	.tvcWrapper {
		width:100%;
		display:block;
	}
	.tvcPanel {
		width:100%;
		display:block;
		margin:0 auto 10px;
	}
	.siteMap .panelWrapper {
		padding:30px 10px;
	}
	.siteMap .panelWrapper .sitemapBox {
		width:100%;
	}
	.siteMap .panelWrapper .sitemapBox .panelx {
		width:100%;
	}
	.siteMap .panelWrapper .sitemapBox .panelx .heading h3,
	.siteMap .panelWrapper .customerPanel .heading h3 {
		width:100%;
		font-size:11px;
	}
	.siteMap .panelWrapper .sitemapBox .panelx .box:hover .heading h3,
	.siteMap .panelWrapper .customerPanel .box:hover .heading h3 {
		width:100%;
	}
	.siteMap .panelWrapper .sitemapBox .panelx .list li {
		width:100%;
	}
	.siteMap .panelWrapper .customerPanel {
		width:100%;
	}
	.productBox {
		padding:0;
	}
	.productBox .sideCategory {
		max-width:none;
		float:none;
	}
	.productBox .mainCategory {
		width:90%;
		display:block;
		margin:0 auto;
		padding:30px 0;
		float:none;
	}
	.poiPoint {
		width:auto;
	}
	.partFeature {
		position:fixed;
		top:20%;
		left:50%;
		bottom:auto;
	}
	.partFeature:after {
		display:none;
	}
	.partFeature .closeWrapper {
		display:block;
	}
	.panelWrapper .productPanel .price span {
		font-size:14px;
	}
	.specTabs .ui-tabs-anchor {
		font-size:14px;
	}
	.categoryDesktop {
		display:none !important;
	}
	.categoryDDown {
		display:block !important;
	}
	.productWrapper .contentElement .itemSlider {
		padding:0;
	}
	.productWrapper .contentElement .productFeature {
		padding:20px 0;
	}
	.owl-carousel.desktop {
		display:none !important;
	}
	.owl-carousel.mobile {
		display:block !important;
	}
}

@media only screen and (max-width:640px) {
	.productWrapper .owl-carousel.desktop {
		display:none;
	}
	.productWrapper .owl-carousel.mobile {
		display:block;
	}
	.contentFeature {
		display:block;
	}
	.contentFeature .imageContainer {
		width:100%;
		margin:0 0 10px 0;
	}
	.panelWrapper .productPanel {
		width:calc((100% - 10px) / 2);
	}
	.panelWrapper .productPanel:not(:nth-child(3n)) {
		margin-right:0;
	}
	.panelWrapper .productPanel:not(:nth-child(2n)) {
		margin-right:10px;
	}
	.categoryBox .header h3:before,
	.categoryBox .header h3:after {
		width:40%;
	}
	.specTabs .ui-tabs-anchor {
		font-size:12px;
	}
	.bx-wrapper:hover .bx-prev {
		left:5px;
	}
	.bx-wrapper:hover .bx-next {
		right:5px;
	}
}

@media only screen and (max-width:560px) {
	.home_video .vid_terms .item {
		width:100%;
	}
	.home_video .vid_terms .item .thumb {
		max-height:none;
	}
	.contentElement .buttonArea li {
		width:48%;
		margin-bottom:5px;
	}
	.categoryBox .header h3:before,
	.categoryBox .header h3:after {
		width:36%;
	}
	.specWrapper {
		padding:20px 0;
	}
	.specTabs .ui-tabs-anchor {
		font-size:10px;
		padding:10px 5px;
	}
	.contentElement .defBtn {
		display:block;
		padding:10px;
	}
}

@media only screen and (max-width:480px) {
	.rightBanner .top,
	.rightBanner .bottom {
		width:100%;
		float:none;
		margin:0 auto 5px;
	}
	.bannerPanel {
		width:100%;
	}
	.profileDealers .box .panel {
		width:100%;
		margin:0;
	}
	.specTabs .ui-tabs-panel {
		padding:50px 5%;
	}
	.contentElement h3 {
		font-size:22px;
	}
	.contentElement .defBtn {
		font-size:12px;
		line-height:1.6em;
	}
	.productRec .owl-item div span {
		font-size:12px;
	}
	.productRecommend .buttonArea .defBtn{
		padding: 10px;
	}
}

@media only screen and (max-width:360px) {
	.lightboxLink {
		width:100%;
		height:auto;
		margin:0 auto 20px;
		display:block;
	}
	.lightboxThumb {
		position:relative;
		top:auto;
		left:auto;
		transform:none;
	}
}


* {
	box-sizing: border-box;
}

#myInput {
	background-image: url('/css/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#myTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 12px;
}

#myTable th, #myTable td {
	text-align: left;
	padding: 12px;
}

#myTable tr {
	border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
	background-color: #f1f1f1;
}

.tabpencarian
{
	margin-bottom: 12px;
}