.fullBox:after {
    content: '';
    display: block;
    clear: both; }

.desktop {
    display: block; }

.mobile {
    display: none; }

.page_not_found {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center; }
.page_not_found img {
    width: 380px;
    display: block;
    margin: 0 auto 40px; }
.page_not_found h4 {
    font-family: Oswald,sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px; }
.page_not_found P {
    margin-bottom: 15px; }
.page_not_found a {
    color: #000; }
.page_not_found a:hover {
    color: #e92030; }

.with_breadcrumb {
    padding: 0; }

.ahm-breadcrumbBox {
    background: #f1f1f1;
    height: 41px;
    line-height: 41px; }
.ahm-breadcrumbBox ul {
    max-width: 1140px;
    margin: 0 auto; }
.ahm-breadcrumbBox ul li {
    font-family: Oswald,sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    float: left;
    color: #999; }
.ahm-breadcrumbBox ul li:after {
    content: '\00bb';
    display: inline-block;
    margin: 0 5px; }
.ahm-breadcrumbBox ul li a {
    color: #888; }
.ahm-breadcrumbBox ul li:last-child:after {
    display: none; }

.ahm-container {
    max-width: 1140px;
    margin: 0 auto; }
.ahm-container.ahm-parts-oil {
    padding-top: 20px; }
.ahm-container .ahm-po-box {
    margin-bottom: 40px; }
.ahm-container .ahm-bar-title {
    font-size: 18px;
    font-weight: bold;
    background: #e72332;
    color: #fff;
    width: 100%;
    font-family: "Oswald";
    height: 57px;
    position: relative;
    padding-left: 70px; }
.ahm-container .ahm-bar-title:before {
    content: '';
    width: 55px;
    height: 55px;
    display: block;
    background: #555555;
    position: absolute;
    top: 0;
    left: 0; }
.ahm-container .ahm-bar-title h2 {
    color: #fff;
    font-size: 18px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase; }
.ahm-container .ahm-slider-banner {
    margin-bottom: 20px; }
.ahm-container .ahm-banner-po {
    height: 400px;
    overflow: hidden; }
.ahm-container .ahm-banner-po .owl-nav {
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none; }
.ahm-container .ahm-banner-po .owl-nav .owl-prev,
.ahm-container .ahm-banner-po .owl-nav .owl-next {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
.ahm-container .ahm-po-list-box {
    width: 100%; }
.ahm-container .ahm-po-list-box .ahm-pol-img {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    margin-bottom: 25px; }
.ahm-container .ahm-po-list-box .ahm-pol-img.ahm-bg-white {
    background: #fff; }
.ahm-container .ahm-po-list-box .ahm-pol-img img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
.ahm-container .ahm-po-list-box .ahm-pol-name {
    font-family: "Oswald";
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 24px;
    text-align: center; }
.ahm-container .ahm-po-list-box .ahm-pol-name a {
    color: #e72332; }
.ahm-container .ahm-col-4 {
    width: calc((100% - 20px)/3);
    float: left;
    margin-right: 10px; }
.ahm-container .ahm-col-4:last-child {
    margin-right: 0; }
.ahm-container .ahm-text-center {
    text-align: center; }
.ahm-container .ahm-defBtn {
    border-color: #dd3333;
    border-style: solid;
    border-width: 1px;
    color: #dd3333;
    font-weight: normal;
    padding: 15px 30px;
    text-transform: uppercase;
    margin: 0 auto;
    display: inline-block;
    font-size: 12px; }
.ahm-container .ahm-section-left {
    width: 748px;
    float: left;
    padding-top: 30px;
    margin-right: 35px; }
.ahm-container .ahm-section-left.video {
    width: 100%; }
.ahm-container .ahm-section-left .ahm-video-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px; }
.ahm-container .ahm-section-left .ahm-video-wrapper .ahm-videoBox {
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
    margin-bottom: 10px; }
.ahm-container .ahm-section-left .ahm-video-wrapper .ahm-videoBox:nth-child(3n) {
    margin-right: 0; }
.ahm-container .ahm-section-left .ahm-video-wrapper .ahm-video-img {
    width: 100%;
    height: 210px;
    display: block;
    position: relative; }
.ahm-container .ahm-section-left .ahm-video-wrapper .ahm-video-img img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
.ahm-container .ahm-section-left .ahm-video-wrapper .ahm-video-title {
    color: #333;
    display: block;
    font-size: 18px;
    margin: 15px 0;
    text-align: center; }
.ahm-container .ahm-section-left .ahm-video-wrapper .ahm-video-title a {
    color: #333; }
.ahm-container .ahm-section-left h2 {
    color: #e0232a;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    padding: 25px 0 0;
    margin-bottom: 60px; }
.ahm-container .ahm-section-left .ahm-form-box {
    padding-bottom: 30px; }
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-left {
    width: 259px;
    float: left;
    text-transform: uppercase;
    font-family: Oswald,sans-serif;
    font-size: 14px;
    color: #3e3e3e; }
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-left span:after {
    content: '*';
    color: red;
    padding-left: 8px; }
.ahm-container .ahm-section-left .ahm-form-box input,
.ahm-container .ahm-section-left .ahm-form-box select,
.ahm-container .ahm-section-left .ahm-form-box textarea {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: block;
    font-family: Arial;
    font-size: 14px;
    height: 34px;
    line-height: 1.4em;
    padding: 6px 12px;
    transition: all 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%; }
.ahm-container .ahm-section-left .ahm-form-box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
.ahm-container .ahm-section-left .ahm-form-box textarea {
    height: 80px; }
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-right {
    width: 489px;
    float: right;
    padding-bottom: 15px;
    min-height: 34px;
    font-size: 14px;
    color: #3e3e3e;
    position: relative; }
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-right .ahm-infoBox {
    position: absolute;
    top: 10px;
    right: -15px; }
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-right .ahm-infoBox .ahm-info {
    width: 200px;
    box-shadow: 0 0 5px #999;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 15px;
    display: none; }
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-right .ahm-infoBox:hover .ahm-info {
    display: block; }
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-right span.error {
    font-size: 11px;
    color: #f00;
    padding: 4px 0;
    display: inline-block; }
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-right span.red {
    color: red; }
.ahm-container .ahm-section-left .ahm-form-box .ahm-form-right .ahm-def-btn {
    background: #e72233 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "Oswald",sans-serif;
    padding: 6px 20px;
    width: auto; }
.ahm-container .ahm-section-left .ahm-error-box {
    border: 2px solid #f7e700;
    padding: 2px 14px;
    text-align: center;
    margin-top: 28px;
    font-size: 14px;
    color: #3e3e3e; }
.ahm-container .ahm-section-right {
    padding-top: 30px;
    width: 317px;
    float: right; }
.ahm-container .ahm-section-right .ahm-side-content {
    position: relative;
    padding: 60px 20px 25px;
    font-size: 13px;
    color: #333;
    margin-bottom: 30px; }
.ahm-container .ahm-section-right .ahm-side-content.ahm-no-padding {
    padding: 50px 0 25px; }
.ahm-container .ahm-section-right .ahm-side-content h3 {
    background: #e72233;
    color: #fff;
    display: block;
    height: 50px;
    padding: 0;
    font-size: 16px;
    padding: 0 0 0 20px;
    line-height: 50px;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: Oswald,sans-serif; }
.ahm-container .ahm-section-right .ahm-side-content h3:before {
    content: '';
    width: 50px;
    height: 50px;
    background: url("../images/sidebar_header_bg.png") no-repeat scroll left top;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ahm-container .ahm-section-right .ahm-side-content h3:after {
    content: '';
    width: 24px;
    height: 24px;
    background: url("../images/sidebar_header_arrow.png") no-repeat scroll left top;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px; }
.ahm-container .ahm-section-right .ahm-side-content p {
    margin-bottom: 15px; }
.ahm-container .ahm-section-right .ahm-side-content img {
    width: 100%;
    margin-bottom: 15px; }

.ahm-videoDetail {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 40px; }

.ahm-videoDetail iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.ahm-title {
    transition: all 1s ease 0s;
    transform: scale(0);
    text-align: center;
    padding: 40px 0 0;
    margin-bottom: 60px; }
.ahm-title h2 {
    color: #e72233;
    font-size: 40px;
    font-family: Oswald; }

.ahm-animation-zoom-in {
    transition: all 1s ease 0s !important;
    transform: scale(1) !important; }

.ahm-maintabs {
    margin-bottom: 50px; }
.ahm-maintabs .ahm-menutabs li {
    float: left;
    background: #ebebeb;
    display: block;
    line-height: 38px;
    margin-right: 1px;
    font-family: Oswald; }
.ahm-maintabs .ahm-menutabs li a {
    padding: 5px 10px;
    display: block;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    border: 1px solid #e3e3e3;
    transition: all 0.5s ease; }
.ahm-maintabs .ahm-menutabs li a.active {
    background: #f8f8f8;
    border-bottom: 1px solid #f8f8f8; }
.ahm-maintabs .ahm-menutabs li a.active:hover {
    background: #f8f8f8;
    border-bottom: 1px solid #f8f8f8; }
.ahm-maintabs .ahm-menutabs li a:hover {
    transition: all 0.5s ease;
    background: #dcdcdc; }
.ahm-maintabs .ahm-menutabs li:first-child a {
    border-top-left-radius: 5px; }
.ahm-maintabs .ahm-menutabs li:last-child a {
    border-top-left-radius: 5px; }
.ahm-maintabs .ahm-menutabs li img {
    float: left;
    margin-right: 10px; }
.ahm-maintabs .ahm-price-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
.ahm-maintabs .ahm-menu-content {
    padding: 35px 5px;
    border: 1px solid #f0f0f0;
    background: #f8f8f8;
    display: none; }
.ahm-maintabs .ahm-menu-content:nth-child(2) {
    display: block; }
.ahm-maintabs .ahm-category-product {
    padding: 0 15px;
    float: left;
    width: 50%;
    margin-bottom: 20px; }
.ahm-maintabs .ahm-category-product h5 {
    font-weight: bold;
    font-size: 16px;
    font-family: Oswald;
    color: #000;
    margin-bottom: 5px; }
.ahm-maintabs .ahm-category-product p {
    font-size: 13px;
    margin-bottom: 10px; }
.ahm-maintabs .ahm-category-product a {
    color: #f14d4d; }
.ahm-maintabs .ahm-category-product a:hover {
    color: #fb8383; }
.ahm-maintabs .ahm-category-product table thead tr th {
    background: #e72233;
    color: #fff;
    padding: 8px; }
.ahm-maintabs .ahm-category-product table tbody tr:nth-child(odd) td {
    background: #fff; }
.ahm-maintabs .ahm-category-product table tbody tr:nth-child(even) td {
    background: #eee; }
.ahm-maintabs .ahm-category-product table tbody tr td {
    padding: 8px; }

.ahm-title-box {
    width: 100%;
    height: 100px;
    position: relative;
    background: url(../images/gray_motif.jpg) no-repeat top right/cover;
    /*&:before{
        content:'';
        display:block;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background:url(../images/photo_bg.png) repeat top center;
    }*/ }
.ahm-title-box .ahm-title-container {
    padding: 0 35px 0;
    max-width: 1140px;
    margin: 0 auto; }
.ahm-title-box .ahm-title-container h2 {
    color: #000;
    display: inline-block;
    float: left;
    font-size: 55px;
    line-height: 100px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: Oswald; }
.ahm-title-box .ahm-title-container h2 span {
    font-weight: bold; }

.ahm-al-box {
    width: calc((100% - 30px)/2);
    float: left;
    margin-right: 30px;
    margin-bottom: 30px; }
.ahm-al-box:nth-child(2n) {
    margin-right: 0; }
.ahm-al-box h3 {
    margin-bottom: 5px;
    min-height: 90px;
    overflow: hidden; }
.ahm-al-box h3 a {
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    margin: 5px 0 0;
    padding: 0;
    text-transform: none;
    font-family: Oswald;
    transition: all 0.2s ease 0s;
    width: 100%; }
.ahm-al-box h3 a:hover {
    color: #e92030; }

.ahm-article-img {
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px; }
.ahm-article-img img {
    width: 100%;
    transition: all 0.5s ease; }
.ahm-article-img img:hover {
    transform: scale(1.1);
    opacity: 0.8; }

.ahm-post-info {
    background: #eee;
    height: 50px;
    width: 100%;
    color: #555;
    font-size: 10px;
    line-height: 50px;
    padding-left: 10px; }

.ahm-post-date {
    background: url(../images/cat_time_icon.png) no-repeat left center;
    padding-left: 18px;
    float: left;
    margin-right: 15px; }

.ahm-post-view {
    background: url(../images/view_icon.png) no-repeat left center;
    padding-left: 22px;
    float: left; }

.ahm-proj-tags {
    background: #555 url(../images/post_format_fx.png) no-repeat right center;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    font-family: Oswald;
    margin: 0 8px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    top: 15px;
    padding-right: 35px;
    padding-left: 10px; }

.ahm-recent-box {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px; }

.ahm-recent-img {
    width: 90px;
    height: 65px;
    float: left;
    overflow: hidden;
    position: relative;
    margin-right: 15px; }

.ahm-recent-info {
    width: 212px;
    float: left;
    font-size: 13px;
    font-family: Oswald; }
.ahm-recent-info h4 {
    font-size: 13px; }
.ahm-recent-info h4 a {
    color: #000; }
.ahm-recent-info h4 a:hover {
    color: #e92030; }
.ahm-recent-info span {
    background: #f14d4d;
    color: #fff;
    padding: 0 4px;
    font-size: 12px;
    display: inline-block; }

.ahm-pagingbox {
    margin-bottom: 20px; }
.ahm-pagingbox span.pages {
    border: 1px solid #ddd;
    color: #777;
    font-size: 13px;
    margin: 2px 4px 2px 0;
    padding: 4px 9px;
    text-decoration: none;
    width: auto; }
.ahm-pagingbox span.current {
    background-color: #eee;
    border: 1px solid #bbb;
    color: #666;
    font-size: 13px;
    margin-left: 0;
    padding: 4px 9px;
    text-decoration: none;
    font-weight: bold; }
.ahm-pagingbox span.extend {
    border: 1px solid #ddd;
    color: #777;
    font-size: 13px;
    margin: 2px 4px 2px 0;
    padding: 4px 9px;
    text-decoration: none;
    width: auto; }
.ahm-pagingbox a {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #777;
    font-size: 13px;
    padding: 4px 9px;
    text-decoration: none; }

.ahm-content-element img {
    width: 100%; }
.ahm-content-element h2 {
    padding: 0 !important;
    margin: 0 !important;
    height: auto;
    display: block;
    text-align: left !important;
    color: #000 !important;
    display: block;
    font-size: 17px !important;
    font-weight: normal !important;
    margin: 30px 0 20px !important;
    text-transform: uppercase;
    width: 100%; }
.ahm-content-element p {
    color: #4b4b4b;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 24px; }
.ahm-content-element .ahm-post-info {
    margin-bottom: 15px; }
.ahm-content-element .ahm-img-caption {
    margin-bottom: 20px; }
.ahm-content-element .ahm-img-caption span {
    background: #f1f1f1;
    display: block;
    padding: 10px;
    font-size: 12px;
    font-weight: 400; }

.ahm-img-navigation {
    margin-bottom: 30px; }
.ahm-img-navigation img {
    transition: all 0.5s ease; }
.ahm-img-navigation .ahm-img-left {
    width: 48%;
    height: 190px;
    overflow: hidden;
    position: relative;
    float: left; }
.ahm-img-navigation .ahm-img-left:hover img {
    opacity: 0.8; }
.ahm-img-navigation .ahm-img-right {
    height: 190px;
    overflow: hidden;
    position: relative;
    width: 48%;
    float: right; }
.ahm-img-navigation .ahm-img-right .ahm-img-title {
    text-align: left; }
.ahm-img-navigation .ahm-img-right .ahm-img-title p {
    text-align: left; }
.ahm-img-navigation .ahm-img-right:hover img {
    opacity: 0.8; }
.ahm-img-navigation .ahm-img-title {
    border: 2px solid #fff;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 0;
    margin: 0 20px;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 1px #333;
    font-size: 17px;
    z-index: 100;
    text-align: right; }
.ahm-img-navigation .ahm-img-title:before {
    content: '';
    display: block;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
.ahm-img-navigation .ahm-img-title span {
    font-size: 13px; }
.ahm-img-navigation .ahm-img-title p {
    color: #fff;
    margin-bottom: 0;
    text-align: right; }

.ahm-recent-posts h2 {
    background: url(../images/recent_posts_icon.png) no-repeat left center;
    color: #000 !important;
    display: inline-block !important;
    font-size: 22px !important;
    font-weight: normal !important;
    line-height: 30px !important;
    margin: 0 0 20px !important;
    padding: 0 !important;
    text-transform: uppercase;
    padding-left: 40px !important; }
.ahm-recent-posts ul li {
    width: calc((100% - 40px)/3);
    display: block;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    float: left;
    border-bottom: 1px solid #ccc; }
.ahm-recent-posts ul li:nth-child(3n) {
    margin-right: 0; }
.ahm-recent-posts .ahm-rp-img {
    width: 70px;
    height: 50px;
    float: left;
    display: block;
    overflow: hidden;
    margin-right: 15px; }
.ahm-recent-posts .ahm-rp-info a {
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    width: 100%;
    font-family: Oswald,sans-serif; }
.ahm-recent-posts .ahm-rp-info a:hover {
    color: #e92030; }

.ahm-subscribe-box {
    background: url(../../userdata/racing-form-bg.png) no-repeat top center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 18px; }
.ahm-subscribe-box input[type="text"] {
    width: calc((100% - 10px) / 2);
    margin-right: 5px;
    border: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 34px;
    padding: 6px 12px;
    background: none;
    margin-top: 20px;
    color: #fff; }
.ahm-subscribe-box input[type="text"]:last-child {
    margin-right: 0; }
.ahm-subscribe-box input[type="submit"] {
    background: yellow none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 8px 10px;
    text-transform: uppercase;
    width: 100%; }

.ahm-ao-section-two {
    padding-top: 50px; }
.ahm-ao-section-two h2 {
    color: #282828;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 36px;
    text-align: center; }
.ahm-ao-section-two h2:after {
    content: '';
    height: 1px;
    width: 150px;
    margin: 15px auto 0;
    display: block;
    background: #3a3a3a; }
.ahm-ao-section-two .ahm-ao-st-top {
    width: 555px;
    margin: 0 auto 50px;
    text-align: center; }
.ahm-ao-section-two .ahm-ao-st-top p {
    font-size: 18px;
    font-family: Arial;
    color: #3a3a3a; }
.ahm-ao-section-two .ahm-ao-st-bot {
    padding-bottom: 60px; }
.ahm-ao-section-two .ahm-ao-st-bot .fullBox {
    margin-bottom: 40px; }
.ahm-ao-section-two .ahm-ao-st-bot .ahm-col-6 {
    width: calc((100% - 40px) / 2);
    margin-right: 40px;
    float: left;
    display: block;
    margin-bottom: 20px; }
.ahm-ao-section-two .ahm-ao-st-bot .ahm-col-6:nth-child(2n) {
    margin-right: 0; }
.ahm-ao-section-two .ahm-ao-st-bot .ahm-col-6 h4 {
    font-size: 20px;
    color: #dd3333;
    font-family: "Oswald";
    margin-bottom: 0px; }
.ahm-ao-section-two .ahm-ao-st-bot .ahm-col-6-pad {
    width: 50%;
    padding: 0 15px;
    float: left;
    display: block;
    font-size: 18px;
    line-height: 24px; }
.ahm-ao-section-two .ahm-ao-st-bot .ahm-col-6-pad img {
    width: 100%; }

.ahm-ao-section-three {
    background: url("../images/piston.jpg") no-repeat top right;
    padding: 50px 0;
    text-align: center;
    position: relative;
    z-index: 100; }
.ahm-ao-section-three:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #f6fbc9;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1; }
.ahm-ao-section-three .ahm-halfbox {
    width: 50%;
    display: block; }
.ahm-ao-section-three .ahm-col-6 {
    width: calc((100% - 30px) / 2);
    display: block;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px; }
.ahm-ao-section-three .ahm-col-6:nth-child(2n) {
    margin-right: 0; }
.ahm-ao-section-three h2 {
    color: #282828;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 50px; }
.ahm-ao-section-three h4 {
    font-size: 16px;
    font-family: "Oswald";
    margin-bottom: 5px;
    margin-top: 20px; }

.ahm-ao-section-four {
    background: #d8cfcf;
    padding: 50px 0; }
.ahm-ao-section-four h2 {
    color: #282828;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center; }
.ahm-ao-section-four .ahm-col-3 {
    width: 33.3333%;
    padding: 0 15px;
    float: left;
    display: block;
    text-align: center;
    color: #e92030;
    margin-bottom: 40px;
    font-size: 21px;
    text-transform: uppercase; }
.ahm-ao-section-four .ahm-col-3 img {
    width: 100%;
    margin-bottom: 10px; }

.ahm-ga-section-two {
    background: #ebebeb;
    padding: 100px 0;
    color: #515151;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px; }
.ahm-ga-section-two .ahm-ga-st-box {
    width: 50%;
    float: right; }
.ahm-ga-section-two h2 {
    color: #575757;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 36px;
    height: 36px; }

.ahm-ga-section-three {
    padding: 80px 0;
    text-align: center; }
.ahm-ga-section-three h2 {
    color: #575757;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 120px;
    font-size: 36px;
    line-height: 36px; }
.ahm-ga-section-three ul li {
    max-width: 300px;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
    color: #000; }
.ahm-ga-section-three h4 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px; }

.ahm-ga-section-four {
    padding: 50px 0;
    background: #ebebeb; }
.ahm-ga-section-four .ahm-ga-prod {
    width: 100%;
    overflow: hidden; }
.ahm-ga-section-four .ahm-ga-prod img {
    width: 100%; }
.ahm-ga-section-four ul li {
    width: 33.3333%;
    padding: 0 10px;
    float: left;
    display: block;
    text-align: center; }
.ahm-ga-section-four h3 a {
    color: #e92030;
    text-align: center;
    font-size: 25px;
    font-family: "Oswald";
    display: block;
    margin: 5px 0; }

.ahm-gp-section-two {
    background: url(../images/img-hgp-parts-piston.jpg) no-repeat left center;
    padding: 100px 0; }
.ahm-gp-section-two .ahm-halfbox {
    width: 50%;
    float: right; }
.ahm-gp-section-two .ahm-halfbox h2 {
    color: #575757;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: -10px;
    font-size: 36px;
    line-height: 36px; }
.ahm-gp-section-two .ahm-halfbox p {
    margin-bottom: 15px; }

.ahm-gp-section-three {
    text-align: center;
    padding: 40px 0;
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px; }
.ahm-gp-section-three ul li {
    width: 33.3333%;
    display: inline-block;
    padding: 0 15px;
    margin: 0 -3px 60px;
    vertical-align: top; }
.ahm-gp-section-three h2 {
    font-size: 36px;
    line-height: 36px;
    color: #575757;
    font-family: "Oswald";
    font-weigth: 300;
    margin-bottom: 100px; }
.ahm-gp-section-three h4 {
    color: #515151;
    font-size: 24px;
    line-height: 24px;
    font-family: "Oswald";
    margin-bottom: 15px; }
.ahm-gp-section-three h5 {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-family: "Oswald";
    margin-bottom: 15px; }

.ahm-gp-section-four {
    text-align: center;
    background: #efefef;
    padding: 40px 0; }
.ahm-gp-section-four h2 {
    color: #dd3333;
    font-family: "Oswald";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px; }
.ahm-gp-section-four ul li {
    width: 25%;
    display: block;
    float: left; }
.ahm-gp-section-four .ahm-gp-sf-box {
    width: 100%;
    overflow: hidden; }
.ahm-gp-section-four .ahm-gp-sf-box img {
    width: 100%; }
.ahm-gp-section-four h3 a {
    color: #e92030;
    font-size: 21px;
    font-family: "Oswald";
    display: block;
    margin: 5px 0;
    text-transform: uppercase; }

.ahm-apparel-wrapper {
    padding: 60px 0 40px;
    text-align: center; }
.ahm-apparel-wrapper h2 {
    color: #515151;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    font-family: 'Oswald';
    margin-bottom: 50px; }
.ahm-apparel-wrapper ul li {
    font-size: 18px;
    display: inline-block; }
.ahm-apparel-wrapper ul li a {
    display: block;
    color: #3e3e3e;
    padding: 15px; }
.ahm-apparel-wrapper ul li a.active, .ahm-apparel-wrapper ul li a:hover {
    background: #ebebeb; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper {
    padding: 50px 0; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box {
    width: calc((100% - 45px) / 4);
    margin-right: 15px;
    margin-bottom: 15px;
    float: left; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box:nth-child(4n) {
    margin-right: 0; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box .ahm-apparel-info {
    width: 100%;
    position: relative; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box .ahm-apparel-info img {
    width: 100%; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box .ahm-apparel-info .ahm-apparel-info-box {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(233, 32, 48, 0.7);
    opacity: 0; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box .ahm-apparel-info .ahm-apparel-info-box h3 {
    color: #3e3e3e;
    font-size: 14px;
    margin-top: 90px; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box .ahm-apparel-info .ahm-apparel-info-box h3 span:before {
    content: '';
    width: 0;
    display: block;
    background: #fff;
    height: 1px;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box .ahm-apparel-info:hover .ahm-apparel-info-box {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    opacity: 1; }
.ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box .ahm-apparel-info:hover .ahm-apparel-info-box h3 span:before {
    width: 150px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }

.ahm-apparel-detail-box {
    color: #8e8e8e;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px; }
.ahm-apparel-detail-box h2 {
    color: #000;
    display: block;
    font-size: 17px;
    font-weight: normal;
    margin: 20px 0 10px;
    text-transform: uppercase;
    font-family: Oswald; }
.ahm-apparel-detail-box .ahm-post-info {
    padding: 0;
    background: none; }
.ahm-apparel-detail-box .ahm-halfbox {
    padding: 0 10px;
    float: left;
    width: 50%; }
.ahm-apparel-detail-box .ahm-halfbox img {
    widht: 100%; }
.ahm-apparel-detail-box .ahm-halfbox h3 {
    color: #515151;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 28px;
    font-family: Oswald; }
.ahm-apparel-detail-box .ahm-halfbox p {
    margin-bottom: 30px; }

.ahm-po-detail-box {
    color: #000;
    padding: 80px 0; }
.ahm-po-detail-box .ahm-halfbox {
    width: 50%;
    float: left;
    display: block;
    font-size: 16px; }
.ahm-po-detail-box .ahm-halfbox img {
    max-width: 100%; }
.ahm-po-detail-box .ahm-halfbox h3 {
    color: #000000;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px; }
.ahm-po-detail-box .ahm-halfbox h3:after {
    content: '';
    width: 150px;
    height: 1px;
    background: #000;
    display: block;
    margin: 25px 0; }
.ahm-po-detail-box .ahm-halfbox table {
    vertical-align: middle;
    border: 1px solid #d8d8d8;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center; }
.ahm-po-detail-box .ahm-halfbox table p {
    margin-bottom: 20px; }
.ahm-po-detail-box .ahm-halfbox table thead tr th {
    border: 1px solid #d8d8d8;
    background: #666666;
    color: #fff;
    padding: 10px; }
.ahm-po-detail-box .ahm-halfbox table tbody tr td {
    border: 1px solid #d8d8d8;
    text-align: center;
    padding: 10px 0;
    background: #fffff0; }

.ahm-gp-detail-section-two {
    padding: 50px 0 0; }
.ahm-gp-detail-section-two .ahm-halfbox {
    width: 50%;
    float: left;
    display: block;
    padding: 0 10px; }
.ahm-gp-detail-section-two img {
    width: 100%; }
.ahm-gp-detail-section-two h2 {
    font-family: 'Oswald';
    font-weight: 300;
    color: #575757;
    margin-bottom: 30px;
    font-size: 36px; }
.ahm-gp-detail-section-two h3 {
    color: #575757;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 28px; }
.ahm-gp-detail-section-two p {
    margin-bottom: 40px;
    color: #515151;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px; }
.ahm-gp-detail-section-two .svgBox {
    position: relative;
    top: 16px; }

.ahm-gp-detail-section-three {
    text-align: center;
    background: #ebebeb;
    padding: 40px 0 100px; }
.ahm-gp-detail-section-three h2 {
    font-family: 'Oswald';
    font-weight: 300;
    color: #575757;
    margin-bottom: 80px;
    font-size: 36px;
    margin-right: 120px; }
.ahm-gp-detail-section-three h3 {
    font-family: 'Oswald';
    font-weight: 300;
    color: #515151;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px; }
.ahm-gp-detail-section-three .halfBox {
    width: 50%;
    display: inline-block;
    margin: 0 -3px;
    padding: 0 15px;
    vertical-align: top;
    color: #8e8e8e; }

.ahm-gp-detail-section-four {
    padding: 30px 0;
    font-size: 18px;
    color: #8e8e8e; }
.ahm-gp-detail-section-four h2 {
    color: #575757;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 36px; }
.ahm-gp-detail-section-four p {
    margin-bottom: 20px; }
.ahm-gp-detail-section-four img {
    display: inline-block;
    max-width: 100%;
    vertical-align: top; }

.ahm-gp-detail-section-five {
    text-align: center;
    padding: 30px 0;
    font-size: 15px;
    background: #ebebeb;
    color: #8e8e8e; }
.ahm-gp-detail-section-five h2 {
    color: #575757;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 36px; }
.ahm-gp-detail-section-five .ahm-halfbox {
    width: 50%;
    float: left;
    padding: 0 15px; }
.ahm-gp-detail-section-five img {
    max-width: 100%; }
.ahm-gp-detail-section-five p {
    margin-bottom: 30px; }

.vertical-ticker {
    height: 370px;
    overflow: hidden; }

.ahm-tire-gray,
.ahm-tire-white {
    background: #e8e8e8;
    padding: 50px 0; }
.ahm-tire-gray h2,
.ahm-tire-white h2 {
    color: #575757;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 36px;
    text-align: center; }
.ahm-tire-gray .ahm-halfbox,
.ahm-tire-white .ahm-halfbox {
    float: right;
    padding: 0 20px;
    width: 50%; }
.ahm-tire-gray .ahm-halfbox h2,
.ahm-tire-white .ahm-halfbox h2 {
    color: #575757;
    font-family: "Oswald";
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 36px; }
.ahm-tire-gray .ahm-halfbox .ahm-content-element,
.ahm-tire-white .ahm-halfbox .ahm-content-element {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px; }
.ahm-tire-gray .ahm-halfbox .ahm-content-element h3,
.ahm-tire-white .ahm-halfbox .ahm-content-element h3 {
    color: #575757;
    font-family: "Oswald";
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 10px; }

.ahm-tire-white {
    background: #fff; }
.ahm-tire-white p {
    font-size: 18px;
    line-height: 24px;
    color: #515151; }

.fancy-content {
    max-width: 600px;
    padding: 15px; }
.fancy-content img {
    display: block;
    margin: 0 auto 20px; }
.fancy-content table {
    border: 1px solid #ccc;
    border-collapse: collapse; }
.fancy-content table tr td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
    font-size: 13px; }

.ahm-tire-box li {
    padding: 0 15px;
    width: 33.3333%;
    float: left;
    margin-bottom: 30px; }
.ahm-tire-box li img {
    width: 100%;
    max-width: 100%; }

.search_result h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0 30px;
    text-transform: uppercase;
    color: #000; }

.search_result p {
    color: #666;
    display: block;
    font-size: 15px;
    line-height: 24px;
    width: 100%; }
.search_result .ahm-article-list-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px; }
.search_result .ahm-article-list-wrapper .ahm-al-box {
    width: calc((100% - 40px) / 3);
    margin-right: 20px; }
.search_result .ahm-article-list-wrapper .ahm-al-box:nth-child(3n) {
    margin-right: 0; }

.ahm-popupwrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
    z-index: 1000; }
.ahm-popupwrapper .ahm-overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    display: block;
    position: fixed;
    top: 0;
    left: 0; }
.ahm-popupwrapper .ahm-popupbanner {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 100%; }
.ahm-popupwrapper .ahm-popupbanner img {
    max-width: 100%; }
.ahm-popupwrapper .closeBtn {
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: 700;
    color: #fe0021;
    border: 1px solid #fe0021;
    background: #fff;
    padding: 2px;
    display: block;
    text-align: center;
    position: absolute;
    top: -10px;
    right: -10px;
    box-shadow: 2px 2px 5px -2px #333; }

@media only screen and (max-width: 1240px) {
    .ahm-breadcrumbBox ul {
        max-width: 978px;
        padding: 0 20px; }

    .ahm-container {
        max-width: 978px; }
    .ahm-container .ahm-section-left {
        width: calc(100% - 361px); }
    .ahm-container .ahm-section-left .ahm-form-box .ahm-form-left {
        width: 30%; }
    .ahm-container .ahm-section-left .ahm-form-box .ahm-form-right {
        width: 70%; } }
@media only screen and (max-width: 959px) {
    .ahm-container {
        padding: 0 20px; }
    .ahm-container .ahm-section-left .ahm-form-box {
        width: 96%; }
    .ahm-container .ahm-section-left .ahm-form-box .ahm-form-right .ahm-infoBox .ahm-info {
        left: auto;
        right: 0;
        top: -10px;
        right: 15px; }

    .ahm-al-box {
        width: 100%; }

    .ahm-container .ahm-banner-po {
        height: auto; }
    .ahm-container .ahm-po-list-box .ahm-pol-img img {
        width: 100%; }

    .ahm-ao-section-three .ahm-halfbox {
        width: 100%; }

    .ahm-gp-section-two {
        background-position: left top; }
    .ahm-gp-section-two .ahm-halfbox {
        width: 100%;
        float: none; }
    .ahm-gp-section-two .ahm-halfbox img {
        width: 100%; }
    .ahm-gp-section-two .ahm-halfbox h2 {
        font-size: 30px; }

    .ahm-gp-section-three ul li {
        width: 50%; }

    .ahm-gp-section-four ul li {
        width: 33.3333%; }

    .ahm-apparel-detail-box .ahm-halfbox img {
        width: 100%; }

    .ahm-ga-section-two h2 {
        height: auto; }
    .ahm-ga-section-two .ahm-ga-st-box {
        width: 100%; } }
@media only screen and (max-width: 767px) {
    .ahm-al-box {
        width: calc((100% - 30px)/2); }

    .ahm-article-img {
        height: auto; }

    .ahm-maintabs .ahm-menutabs {
        display: none; }
    .ahm-maintabs .ahm-category-product {
        width: 100%; }

    .ahm-ao-section-two .ahm-ao-st-top {
        width: 100%; }

    .tab-mobile {
        color: #333;
        font-weight: bold;
        display: block;
        font-family: "Oswald",sans-serif;
        text-transform: uppercase;
        background: #f8f8f8;
        border: 1px solid #f0f0f0;
        padding: 14px 20px 14px 70px;
        font-size: 21px;
        margin-bottom: 1px; }

    .ahm-container {
        max-width: 978px;
        padding: 0 20px; }
    .ahm-container .ahm-col-4 {
        width: 100%; }
    .ahm-container .ahm-section-left {
        width: 100%; }
    .ahm-container .ahm-section-left .ahm-form-box .ahm-form-left {
        width: 100%; }
    .ahm-container .ahm-section-left .ahm-form-box .ahm-form-right {
        width: 100%; }
    .ahm-container .ahm-section-right {
        width: 100%; }
    .ahm-container .ahm-section-right .ahm-side-content img {
        max-width: 400px;
        display: block;
        margin: 0 auto 20px; }

    .desktop {
        display: none; }

    .mobile {
        display: block; }

    .ahm-img-navigation .ahm-img-left {
        width: 100%;
        height: auto;
        float: none; }
    .ahm-img-navigation .ahm-img-right {
        width: 100%;
        height: auto;
        float: none; }
    .ahm-img-navigation .ahm-img-title {
        width: calc(100% - 40px); }

    .ahm-recent-posts ul li {
        width: calc((100% - 20px) / 2); }
    .ahm-recent-posts ul li:nth-child(3n) {
        margin-right: 20px; }
    .ahm-recent-posts ul li:nth-child(2n) {
        margin-right: 0; }

    .ahm-apparel-detail-box .ahm-halfbox {
        width: 100%;
        float: none; }

    select.mobile {
        display: inline-block;
        -moz-appearance: none;
        appearance: none; }

    .ahm-po-detail-box .ahm-halfbox {
        width: 100%;
        margin-bottom: 20px; }

    .ahm-apparel-wrapper .ahm-product-apparel-wrapper .ahm-product-apparel-box {
        width: 100%;
        margin-right: 0; }

    .ahm-ga-section-three h2 {
        margin-bottom: 60px; }
    .ahm-ga-section-three ul li {
        width: 100%;
        margin-bottom: 20px; }

    .ahm-ga-section-four ul li {
        width: 50%;
        margin-bottom: 20px; }
    .ahm-ga-section-four ul li h3 {
        font-size: 24px; }

    .search_result .ahm-article-list-wrapper .ahm-al-box {
        width: calc((100% - 40px) / 2);
        margin-right: 20px; }
    .search_result .ahm-article-list-wrapper .ahm-al-box:nth-child(3n) {
        margin-right: 20px; } }
@media only screen and (max-width: 559px) {
    .ahm-title-box {
        height: auto;
        padding: 20px; }
    .ahm-title-box .ahm-title-container {
        padding: 0; }
    .ahm-title-box .ahm-title-container h2 {
        font-size: 36px;
        float: none; }

    .ahm-gp-section-three ul li {
        width: 100%; }

    .ahm-gp-section-four ul li {
        width: 100%; }

    .ahm-recent-box {
        padding-left: 105px;
        position: relative; }

    .ahm-recent-img {
        float: none;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0; }

    .ahm-pagingbox span.pages {
        display: none; }

    .ahm-recent-info {
        width: 100%; }

    .ahm-al-box {
        width: 100%; }

    .ahm-recent-posts ul li {
        width: 100%; }
    .ahm-recent-posts ul li:nth-child(3n) {
        margin-right: 0; }
    .ahm-recent-posts ul li:nth-child(2n) {
        margin-right: 0; }

    .ahm-title h2 {
        font-size: 22px; }
    .ahm-title span {
        font-size: 11px; }

    .ahm-ao-section-two .ahm-ao-st-bot .ahm-col-6 {
        width: 100%;
        margin-right: 0; }
    .ahm-ao-section-two .ahm-ao-st-bot .ahm-col-6-pad {
        width: 100%;
        padding: 0; }

    .ahm-ao-section-three .ahm-col-6 {
        width: 100%; }

    .ahm-ao-section-four .ahm-col-3 {
        width: 100%; }

    .ahm-ga-section-four ul li {
        width: 100%; }

    .search_result .ahm-article-list-wrapper .ahm-al-box {
        width: 100%;
        margin-right: 0; }
    .search_result .ahm-article-list-wrapper .ahm-al-box:nth-child(3n) {
        margin-right: 0; } }

/*# sourceMappingURL=ahm_news.css.map */